<div class="container" id="about">
  <div class="xxl-gap" style="max-width: 800px; margin:auto;">
    <h1 class="heading xl-gap">About Us</h1>
	<p>
      Gamerholic is an Australian online store based in NSW and founded in 2015. We sell discounted Yugioh TCG, Magic TCG, Pokemon TCG, Card Accessories and Board Games. Our products are all genuine and received from licenced distributors in Australia.
    </p>
    <p>
All our prices are in Australian Dollars and our delivery times are very reasonable. For more information about how long it may take for you to receive your order, <a href="/pages/faq" class="link-blue">click here</a>
    </p>
    <p>
      We currently only have a small range of products and seek to expand our product range in the near future. If there are any products that you would like to see stocked in our store send us a suggestion on <a href="https://www.facebook.com/GamerholicAU/" class="link-blue">Facebook</a> - Gamerholic
    </p>
  </div>
</div>

