<div class="promotionalBar">
  {{ settings.promotionalBar-text }}
</div>

<style>
  .promotionalBar{
    background-color:{{settings.promotionalBarbgcolor}};
    color:{{settings.promotionalBarcolor}};
      font-size: 1.0em;
    padding: 10px;
}
  </style>