<div class="container" id="about">
  <div class="xxl-gap" style="max-width: 800px; margin:auto;">
    <h1 class="heading xl-gap">Cancellation</h1>
<p><strong>Can I cancel my order or change the shipping address after the order is placed?</strong></p>
<p>We strive on providing the best shopping experience for you. However, we understand situation may change when you are shopping. Therefore, we accept order cancellation, assuming you accept following terms and conditions. </p>
<p>1. You can change your mind at any time when you place an order on our website before we ship your order. If we have shipped your order before you change your mind, you can send your item back, assuming the item remains sealed and brand new condition. Once we receive the item, we will process a full refund. </p>
<p>2. If you choose to check out using Afterpay or zippay/zipmoney, we charge 10% restocking fee to cover associated costs with Afterpay or zippay/zipmoney. Please keep this in mind during checkout. </p>
<p>3. Please contact us via <a href="https://www.facebook.com/GamerholicAU" target="_blank" title="Facebook" rel="noopener noreferrer">Facebook</a> prior requesting a refund. If your address is changed, we recommend you to contact us immediately or request a free local pickup when possible.</p>
  </div>
</div>

