<div id="faq" class="container">
<div style="max-width: 800px; margin: auto;" class="xxl-gap">
<h1 class="heading xl-gap">FAQ</h1>
<h2 class="xl-gap">1. How much does delivery cost?</h2>
<p>Delivery rates are calculated according to the size and weight of the items ordered including the delivery location. To calculate shipping costs simply add the items to your cart, proceed to checkout, enter your shipping address and then select the shipping method you wish to use. The shipping cost will be displayed there.</p>
<h2 class="xl-gap">2. How long does delivery take?</h2>
<p>Delivery times are different depending on location and carrier. Our shipments are generally made via Australia Post. Postage is delivered between 1 and 5 business days after your order has been shipped. If there is any concerns or further questions about your shipment please email us at (link to contact us)</p>
<h2 class="xl-gap">3. Why was the order refunded?</h2>
<p>Due to unforeseen circumstances, the item(s) you purchased may be misplaced or lost. Please be advised that if you purchased with a credit card/ bank transfer it may take several days. We apologise for any inconvenience.</p>
<h2 class="xl-gap">4. How can I get a discount on my order?</h2>
<p>To receive coupon codes and to be the first to hear of our current and upcoming promotions, you may join our mailing list on the home page.</p>
<h2 class="xl-gap">5. Am I able to sell to you?</h2>
<p>Yes, and it’s easy! <a class="link-blue" href="/pages/sell">Click here</a> to view our How to Sell Guide.</p>
<h2 class="xl-gap">6. How can I return an order?</h2>
<p>The item(s) must be returned within 7 days of its arrival.</p>
<p>If the product is received back in an altered condition (e.g. a booster box or pack opened, a crease on a near-mint role-playing book etc.), then it will be treated as a used item sold to us, not as a return and we will credit you back to your PayPal account.</p>
<p>You may still be able to sell your item If you are requesting your return beyond 7 days of its arrival, or for an item in an altered condition.</p>
<p><a class="link-blue" href="https://drive.google.com/uc?export=download&amp;id=0BzcDHkomeNHxYkVCbzBnLXVTbEk">Click here</a> to download a Return Information Form. The credit process may slow down if the return policy is not followed.</p>
<h2 class="xl-gap">7. Can I cancel my order?</h2>
<p>Yes, we will be able to cancel it for you provided the order has not yet shipped. Please contact us if you need to cancel your order.</p>
<h2>8.&nbsp;Can I pick up my order myself?&nbsp;</h2>
<p>Yes, you can. However, all pickups need to be arranged prior to make an order to ensure that we can meet your requirements as we are an online store.&nbsp;</p>
<h2>9.&nbsp;What happens if my item shows as delivered but it wasn't delivered?&nbsp;</h2>
<p><span>We strive to resolve all issues as soon as possible but&nbsp;each case could take 3-10 business days to investigate and resolve. Also, we need to engage with our courier to confirm if the item has been delivered or delivered incorrectly before we could provide an update.&nbsp;</span></p>
</div>
</div>
