<div class="container" id="about">
  <div class="xxl-gap" style="max-width: 800px; margin:auto;">
    <h1 class="heading xl-gap">Price Match</h1>
	<p>
      Have you seen something on another website that's cheaper?</p>
    <p>
We strive on ensuring you get the very best value for money when purchasing your favourite games and we will always go above and beyond to ensure that you get the most competitive price possible. We understand that you want to take advantage of our Australian-wide flat shipping, attention to detail when packing your order and great customer service, however, sometimes products can be listed cheaper on other websites preventing you from getting the very best when purchasing online. This can happen from time to time as we have thousands of products in stock and keeping a close eye on all the prices with all our competitors is simply not possible.</p>
    <p>
     We always check our prices before listing a product and carry out regular price checks to ensure we are always offering the best value, but we can't check every product and sometimes prices can be listed cheaper than what we offer it for. This is where you come into this! If there is something you're interested in purchasing from us, but can see it listed elsewhere cheaper, please send us an email and our wizards will be able to work their magic.</p>
    <p>
      For us to price match a product, we need you to include a link to the product you would like us to price match and providing it meets our following requirements, we can then offer you the product at a lower price or better. We can only offer a price match on the advertised price from the website in question and it can't be part of an active sale or work out cheaper with the use of any promotional codes. We would also advise looking into any current promotions we have available on our sales page and Facebook at the time as applying these will make the product even cheaper than listed and in some cases, won't need to be price matched. If however, we still aren't cheaper, please let us know. If a price match is approved,  we will apply the difference to your current purchase for you at the checkout against the product. When you are ready to submit a claim, please <a href="https://gamerholic.com.au/pages/price-match#zbwid-1368c0b1" title="contact us">contact us</a>.</p>
  </div>
</div>