<div id="about" class="container">
    <div style="max-width: 800px; margin: auto;" class="xxl-gap">
    <h1 class="heading xl-gap">Terms and Conditions<br></h1>
    <p>IN GENERAL</p>
    <p>This website is operated by Gamerholic Pty Ltd. The terms “we”, “us”, and “our” refer to Gamerholic Pty Ltd. The use of our website is subject to the following terms and conditions of use, as amended from time to time (the “Terms”). The Terms are to be read together by you with any terms, conditions or disclaimers provided in the pages of our website. Please review the Terms carefully. The Terms apply to all users of our website, including without limitation, users who are browsers, customers, merchants, vendors and/or contributors of content. If you access and use this website, you accept and agree to be bound by and comply with the Terms and our <a href="https://gamerholic.com.au/pages/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>. If you do not agree to the Terms or our Privacy Policy, you are not authorized to access our website, use any of our website’s services or place an order on our website.</p>
    <p>Access to this Website is permitted on a temporary basis, and we reserve the right to withdraw or amend the Services without notice. We will not be liable if for any reason this Website is unavailable at any time or for any period. From time to time, we may restrict access to some parts or all of this Website without notice.</p>
    <p>TERMS OF SALE</p>
    <p>By placing an order you acknowledge you are entering into a contract of sale with Gamerholic and are therefore subject to the following terms and conditions.</p>
    <p>All orders are subject to availability and confirmation of the order price.</p>
    <p>Dispatch times may vary according to stock availability and any guarantees or representations made in regards to delivery times are subject to any delays resulting from postal issues or force majeure, for which we will not be held responsible. Please refer to our <a href="https://gamerholic.com.au/pages/customer-service-policy" target="_blank" rel="noopener noreferrer">Customer Service&nbsp;Policy</a>&nbsp;for further information.</p>
    <p>In order to contract with Gamerholic, you must be at least the age of majority in your state or province of residence or the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site. You must possess a valid credit or debit card issued by a bank acceptable to us. Gamerholic retains the right to refuse any request made by you.</p>
    <p>Our Contract:</p>
    <p>When you place an order, you will receive an acknowledgement e-mail confirming receipt of your order - this email will not constitute acceptance of your order. A contract between us for the purchase of the goods will not be formed until your payment has been approved by us and we have debited your credit or debit card.</p>
    <p>Pricing and Availability:</p>
    <p>Please note that our website may contain typographical errors or inaccuracies and may not be complete or current. We reserve the right to correct any errors, inaccuracies or omissions and to change or update information at any time, without prior notice (including after an order has been submitted). Such errors, inaccuracies or omissions may relate to product description, pricing, promotion and availability and we reserve the right to cancel or refuse any order placed based on incorrect pricing or availability information, to the extent permitted by applicable law. We do not undertake to update, modify or clarify information on our website, except as required by law.</p>
    <p>Gamerholic reserves the right to cancel, at any time before delivery and for whatever reason, an order that it has previously accepted. Gamerholic may do this for example, but without limitation, where:</p>
    <ul>
    <li>Gamerholic suppliers are unable to supply Services that they have previously promised to supply;</li>
    <li>An event beyond Gamerholic’s control, such as storm, fire, flood, earthquake, terrorism, power failure, war, strike or failure of computer systems, means that Gamerholic is unable to supply the Services within a reasonable time;</li>
    <li>Services ordered were subject to an error on the Website, for example, in relation to a description, price or image, which was not discovered prior to the order being accepted;</li>
    <li>Services ordered are subject to specific quantity limits set out by us;</li>
    <li>You ask Gamerholic to cancel your order.</li>
    </ul>
    <p>Where applicable, prices are inclusive of GST. Delivery costs will be charged in addition and will be clearly displayed where applicable and included in the 'Total Cost'.</p>
    <p>Our Services may contain typographical errors or other errors or inaccuracies and may not be complete or current. We, therefore, reserve the right to correct any errors, inaccuracies or omissions and to change or update information at any time without prior notice. We reserve the right to refuse to fill any orders that you may place based on information on the Service that may contain errors or inaccuracies.</p>
    <p>Gamerholic’s prices are subject to change without notice. We reserve the right to modify or discontinue Our Services (or any part or content thereof) without notice at any time.</p>
    <p>Gamerholic will price match competitor products subject to our&nbsp;<a href="https://gamerholic.com.au/pages/price-match-policy" target="_blank" rel="noopener noreferrer">Price Match Policy</a>.</p>
    <p>Payment:</p>
    <p>Our website accepts payments using Visa, MasterCard, Afterpay, PayPal, Apple Pay and ZipPay. Once your payment method has been validated, upon clicking “Place Order” we will debit the funds from your nominated form of payment immediately for the full order amount.</p>
    <p>Discount Codes:</p>
    <p>We may from time to time offer promotional discount codes which may apply with respect to any or specified purchases made through this Website. The conditions of use relating to any discount code will be specified at the time of issue.</p>
    <p>DISCLAIMER OF LIABILITY</p>
    <p>The material displayed on this Website is provided without any guarantees, conditions or warranties as to its accuracy. Unless expressly stated to the contrary to the fullest extent permitted by law, Gamerholic and its suppliers, content providers and advertisers hereby expressly exclude all conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity and shall not be liable for any damages whatsoever, including but without limitation any direct, indirect, special, consequential, punitive or incidental damages, or damages for loss of use, profits, data or other intangibles, damage to goodwill or reputation, or the cost of procurement of substitute goods and services, arising out of or related to the use, inability to use, performance or failures of this Website and any materials posted thereon, irrespective of whether such damages were foreseeable or arise in contract, tort, equity, restitution, by statute, at common law or otherwise. This does not affect Gamerholic’s liability for death or personal injury arising from its negligence, nor for fraudulent misrepresentation, or any other liability which cannot be excluded or limited under applicable law.</p>
    <p>LINKING TO THIS WEBSITE</p>
    <p>You may link to our Website, provided you do so in a way that is fair and legal and does not damage or take advantage of our reputation. You must not establish a link in such a way to suggest any form of association, approval or endorsement where none exists.</p>
    <p>You must not establish a link from any website that is not owned by you.</p>
    <p>This Website must not be framed on any other site. We reserve the right to withdraw linking permission without notice.</p>
    <p>LINKS FROM THIS WEBSITE</p>
    <p>If we link to other third-party websites, we take no responsibility for the content of, and make no representations as to the accuracy of these websites.</p>
    <p>INDEMNITY</p>
    <p>You agree to indemnify, defend and hold harmless Gamerholic Pty Ltd, its directors, employees, contractors, agents and affiliates, from any and all third-party claims, liability, damages and/or costs (including, but not limited to, legal fees) arising from your use of this Website or your breach of these Terms of Service.</p>
    <p>VARIATION</p>
    <p>Gamerholic Pty Ltd shall retain the right at its absolute discretion at any time and without notice to amend, remove or vary the Services and/or any page of this Website.</p>
    <p>COMPLAINTS</p>
    <p>We operate an established handling procedure which we use to try and resolve disputes when they first arise. Please let the Customer Care Team (via email or Facebook Chat) know if you have any concerns or comments.</p>
    <p>ENTIRE AGREEMENT</p>
    <p>The above Terms of Service constitute the entire agreement of the parties and supersede any and all preceding and contemporaneous agreements between you and Gamerholic.</p>
    <p><span><br></span></p>
    </div>
    </div>