


{%if template != 'index'%}<div style="height:60px; {%if template contains 'customers'%}height:0px;{%endif%}"></div>{%endif%}

<div id="footer" class="{%if template contains 'customer'%}{%else%}xxl-gap{%endif%} {%if template != 'index'%}footer-fix{%endif%}">
  <div class="container">
    <div class="row" >
      <div class="col-xs-6 col-sm-4">
        <h3 class="footer-heading">FIND US</h3>
        <p class="footer-item">
          PO BOX 158
        </p>
        <p class="footer-item">
          Allawah NSW 2218
        </p>
        <h3 class="footer-heading">EMAIL US</h3>
        <p class="footer-item">
          sales@gamerholic.com.au
        </p>
        <h3 class="footer-heading">PICKUP LOCATION</h3>
        <p class="footer-item">
          Hurstville NSW
          <p></p>
        <p>Please message on <a href="https://www.facebook.com/GamerholicAU" class="link-yellow">Facebook</a> for pickup services.</p>
        </p>
      </div>

      <div class="col-xs-6 col-sm-4">
        <h3 class="footer-heading">Customer Service</h3>

        <a href="/pages/about-us" class="footer-link">
          <p class="footer-item">
            About Us
          </p>
        </a>
        <a href="/pages/terms-conditions" class="footer-link">
          <p class="footer-item">
            Terms and Conditions
          </p>
        </a>
        <a href="/pages/customer-service-policy" class="footer-link">
          <p class="footer-item">
            Customer Service Policy
          </p>
        </a>
        <a href="/pages/privacy-policy" class="footer-link">
          <p class="footer-item">
            Privacy Policy
          </p>
        </a>
        <a href="#zbwid-1368c0b1" class="footer-link">
          <p class="footer-item">
            Contact Us
          </p>
        </a>
        <a href="/pages/sell" class="footer-link">
          <p class="footer-item">
            Sell To Us
          </p>
        </a>
        <a href="/pages/return-refund-policy" class="footer-link">
          <p class="footer-item">
            Return & Refund Policy
          </p>
        </a>
        <a href="/pages/price-match" class="footer-link">
          <p class="footer-item">
            Price Match Policy
          </p>
        </a>
        <a href="/pages/faq" class="footer-link">
          <p class="footer-item">
            FAQ
          </p>
        </a>
      </div>


      </div>
    </div>
  </div>
  <div id="footer-bottom">
    <p>GAMERHOLIC © {{ "now" | date: "%Y" }} </p>
  </div>
</div>
