
{%if template != 'index'%}<div style="height:60px; {%if template contains 'customers'%}height:0px;{%endif%}"></div>{%endif%}

<div id="footer" class="{%if template contains 'customer'%}{%else%}xxl-gap{%endif%} {%if template != 'index'%}footer-fix{%endif%}">
  <div class="container">
    <div class="row" >
      <div class="col-xs-6 col-sm-4">
        <h3 class="footer-heading">FIND US</h3>
        <p class="footer-item">
          PO BOX 158
        </p>
        <p class="footer-item">
          Allawah NSW 2218
        </p>
        <h3 class="footer-heading">EMAIL US</h3>
        <p class="footer-item">
          sales@gamerholic.com.au
        </p>
        <h3 class="footer-heading">PICKUP LOCATION</h3>
        <p class="footer-item">
          Hurstville NSW
          <p></p>
        <p>Please message on <a href="https://www.facebook.com/GamerholicAU" class="link-yellow">Facebook</a> for pickup services.</p>
        </p>
      </div>

      <div class="col-xs-6 col-sm-4">
        <h3 class="footer-heading">Customer Service</h3>
        <a href="/pages/terms-conditions" class="footer-link">
          <p class="footer-item">
            Terms and Conditions
          </p>
        </a>
        <a href="/pages/customer-service-policy" class="footer-link">
          <p class="footer-item">
            Customer Service Policy
          </p>
        </a>
        <a href="/pages/privacy-policy" class="footer-link">
          <p class="footer-item">
            Privacy Policy
          </p>
        </a>
        <a href="/pages/shipping-preorder-policy" class="footer-link">
          <p class="footer-item">
            Shipping & Preorder Policy
          </p>
        </a>
        <a href="/pages/sell" class="footer-link">
          <p class="footer-item">
            Sell To Us
          </p>
        </a>
        <a href="/pages/return-refund-policy" class="footer-link">
          <p class="footer-item">
            Return & Refund Policy
          </p>
        </a>
        <a href="/pages/price-match" class="footer-link">
          <p class="footer-item">
            Price Match Policy
          </p>
        </a>

        <a href="/pages/faq" class="footer-link">
          <p class="footer-item">
            FAQ
          </p>
        </a>
      </div>
      <div class="col-xs-12- col-sm-4">
        <h3 class="footer-heading">About Gamerholic</h3>
          <a href="/pages/about-us" class="footer-link">
            <p class="footer-item">
              About Us
            </p>
          </a>
          <a href="/pages/contact-us" class="footer-link">
            <p class="footer-item">
              Contact Us
            </p>
          </a>
          <h3 class="footer-heading">
            NEWSLETTER
          </h3>
          <p class="footer-item">
            Signup for the latest products and exclusive discounts!
          </p>

        <!-- Begin MailChimp Signup Form -->

        <div id="mc_embed_signup">
          <form action="//nngames.us14.list-manage.com/subscribe/post?u=51af69cd7755695fd37260534&amp;id=a7e202ac7a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

          <div class="mc-field-group">
            <input type="email" value="" placeholder="Your Email" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_51af69cd7755695fd37260534_a7e202ac7a" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="red-button"></div>
            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='COMPANY';ftypes[3]='text';fnames[4]='ADDRESS';ftypes[4]='address';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->

    </div>
  </div>
  <div id="footer-bottom">
    <p>GAMERHOLIC © {{ "now" | date: "%Y" }} </p>
    </div>
        <!--Payment Logo section -->
        <div class="footer-payment-logo">
          <div class="row">
            <div style="max-width: 60px; margin: 0px;" class="col-xs-1- col-sm-1">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-payment-visa" viewBox="0 0 62 40">
                  <path d="M0 4C0 1.79086 1.79086 0 4 0H58C60.2091 0 62 1.79086 62 4V36C62 38.2091 60.2091 40 58 40H4C1.79086 40 0 38.2091 0 36V4Z" fill="#F5F5F5"></path>
                  <path d="M28.3404 25.7833H25.0765L27.1164 13.2244H30.3806L28.3404 25.7833ZM22.3307 13.2244L19.219 21.8625L18.8508 20.0024L18.8511 20.0031L17.7529 14.3552C17.7529 14.3552 17.6201 13.2244 16.2046 13.2244H11.0604L11 13.4371C11 13.4371 12.5731 13.7649 14.4142 14.8725L17.2498 25.7837H20.6506L25.8434 13.2244H22.3307V13.2244ZM48.003 25.7833H51L48.387 13.2241H45.7632C44.5516 13.2241 44.2565 14.16 44.2565 14.16L39.3887 25.7833H42.7911L43.4715 23.9178H47.6207L48.003 25.7833ZM44.4115 21.3408L46.1264 16.641L47.0912 21.3408H44.4115ZM39.6439 16.2445L40.1097 13.5476C40.1097 13.5476 38.6724 13 37.174 13C35.5543 13 31.7079 13.7092 31.7079 17.1576C31.7079 20.4022 36.2223 20.4425 36.2223 22.1467C36.2223 23.851 32.173 23.5456 30.8367 22.4709L30.3514 25.2908C30.3514 25.2908 31.8089 26 34.0355 26C36.2629 26 39.6231 24.8447 39.6231 21.7003C39.6231 18.4349 35.0681 18.1309 35.0681 16.7112C35.0684 15.2911 38.2472 15.4735 39.6439 16.2445V16.2445Z" fill="url(#paint0_linear2)"></path>
                  <defs>
                    <linearGradient id="paint0_linear2" x1="17.4593" y1="17.4721" x2="34.7702" y2="33.2293" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#222357"></stop>
                      <stop offset="1" stop-color="#254AA5"></stop>
                    </linearGradient>
                  </defs>
                </svg>
              </div>
            <div style="max-width: 60px; margin: 0px;" class="col-xs-1- col-sm-1">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-payment-master" viewBox="0 0 62 40">
                  <path d="M0 4C0 1.79086 1.79086 0 4 0H58C60.2091 0 62 1.79086 62 4V36C62 38.2091 60.2091 40 58 40H4C1.79086 40 0 38.2091 0 36V4Z" fill="#F5F5F5"></path>
                  <path d="M35.8575 24.4408H26.8545V8.26086H35.8575V24.4408Z" fill="#FF5F00"></path>
                  <path d="M27.4313 16.3495C27.4313 13.0674 28.968 10.1437 31.3611 8.25955C29.6111 6.88178 27.4025 6.05943 25.0022 6.05943C19.3197 6.05943 14.7134 10.6664 14.7134 16.3495C14.7134 22.0327 19.3197 26.6396 25.0022 26.6396C27.4025 26.6396 29.6111 25.8173 31.3611 24.4395C28.968 22.5554 27.4313 19.6317 27.4313 16.3495Z" fill="#EB001B"></path>
                  <path d="M48 16.3495C48 22.0327 43.3937 26.6396 37.7112 26.6396C35.3109 26.6396 33.1022 25.8173 31.3516 24.4395C33.7453 22.5554 35.2821 19.6317 35.2821 16.3495C35.2821 13.0674 33.7453 10.1437 31.3516 8.25955C33.1022 6.88178 35.3109 6.05943 37.7112 6.05943C43.3937 6.05943 48 10.6664 48 16.3495Z" fill="#F79E1B"></path>
                  <path d="M15.4114 33.9265V31.7206C15.4114 30.875 14.8248 30.3235 13.819 30.3235C13.3162 30.3235 12.7714 30.4706 12.3943 30.9485C12.101 30.5441 11.6819 30.3235 11.0533 30.3235C10.6343 30.3235 10.2152 30.4338 9.88 30.8382V30.3971H9V33.9265H9.88V31.9779C9.88 31.3529 10.2571 31.0588 10.8438 31.0588C11.4305 31.0588 11.7238 31.3897 11.7238 31.9779V33.9265H12.6038V31.9779C12.6038 31.3529 13.0229 31.0588 13.5676 31.0588C14.1543 31.0588 14.4476 31.3897 14.4476 31.9779V33.9265H15.4114V33.9265ZM28.4438 30.3971H27.019V29.3309H26.139V30.3971H25.3429V31.0956H26.139V32.7132C26.139 33.5221 26.5162 34 27.5219 34C27.899 34 28.3181 33.8897 28.6114 33.7427L28.36 33.0809C28.1086 33.2279 27.8152 33.2647 27.6057 33.2647C27.1867 33.2647 27.019 33.0441 27.019 32.6765V31.0956H28.4438V30.3971V30.3971ZM35.9028 30.3235C35.4 30.3235 35.0648 30.5441 34.8552 30.8382V30.3971H33.9752V33.9265H34.8552V31.9412C34.8552 31.3529 35.1486 31.0221 35.6933 31.0221C35.8609 31.0221 36.0705 31.0588 36.2381 31.0956L36.4895 30.3603C36.3219 30.3235 36.0705 30.3235 35.9028 30.3235V30.3235ZM24.6305 30.6912C24.2114 30.4338 23.6248 30.3235 22.9962 30.3235C21.9905 30.3235 21.32 30.7647 21.32 31.4632C21.32 32.0515 21.8228 32.3824 22.7028 32.4927L23.1219 32.5294C23.5828 32.6029 23.8343 32.7132 23.8343 32.8971C23.8343 33.1544 23.499 33.3382 22.9124 33.3382C22.3257 33.3382 21.8648 33.1544 21.5714 32.9706L21.1524 33.5588C21.6133 33.8529 22.2419 34 22.8705 34C24.0438 34 24.7143 33.5221 24.7143 32.8603C24.7143 32.2353 24.1695 31.9044 23.3314 31.7941L22.9124 31.7574C22.5352 31.7206 22.2419 31.6471 22.2419 31.4265C22.2419 31.1691 22.5352 31.0221 22.9962 31.0221C23.499 31.0221 24.0019 31.2059 24.2533 31.3162L24.6305 30.6912V30.6912ZM48.0133 30.3235C47.5105 30.3235 47.1752 30.5441 46.9657 30.8382V30.3971H46.0857V33.9265H46.9657V31.9412C46.9657 31.3529 47.2591 31.0221 47.8038 31.0221C47.9714 31.0221 48.181 31.0588 48.3486 31.0956L48.6 30.3603C48.4324 30.3235 48.181 30.3235 48.0133 30.3235V30.3235ZM36.7829 32.1618C36.7829 33.2279 37.621 34 38.92 34C39.5067 34 39.9257 33.8897 40.3448 33.5956L39.9257 32.9706C39.5905 33.1912 39.2552 33.3015 38.8781 33.3015C38.1657 33.3015 37.6629 32.8603 37.6629 32.1618C37.6629 31.5 38.1657 31.0588 38.8781 31.0221C39.2552 31.0221 39.5905 31.1324 39.9257 31.3529L40.3448 30.7279C39.9257 30.4338 39.5067 30.3235 38.92 30.3235C37.621 30.3235 36.7829 31.0956 36.7829 32.1618V32.1618ZM44.9124 32.1618V30.3971H44.0324V30.8382C43.7391 30.5074 43.32 30.3235 42.7752 30.3235C41.6438 30.3235 40.7638 31.0956 40.7638 32.1618C40.7638 33.2279 41.6438 34 42.7752 34C43.3619 34 43.781 33.8162 44.0324 33.4853V33.9265H44.9124V32.1618ZM41.6857 32.1618C41.6857 31.5368 42.1467 31.0221 42.901 31.0221C43.6133 31.0221 44.1162 31.5 44.1162 32.1618C44.1162 32.7868 43.6133 33.3015 42.901 33.3015C42.1467 33.2647 41.6857 32.7868 41.6857 32.1618ZM31.1676 30.3235C29.9943 30.3235 29.1562 31.0588 29.1562 32.1618C29.1562 33.2647 29.9943 34 31.2095 34C31.7962 34 32.3829 33.8529 32.8438 33.5221L32.4248 32.9706C32.0895 33.1912 31.6705 33.3382 31.2514 33.3382C30.7067 33.3382 30.1619 33.1177 30.0362 32.4927H33.0114C33.0114 32.3824 33.0114 32.3088 33.0114 32.1985C33.0533 31.0588 32.299 30.3235 31.1676 30.3235V30.3235ZM31.1676 30.9853C31.7124 30.9853 32.0895 31.2794 32.1733 31.8309H30.0781C30.1619 31.3529 30.539 30.9853 31.1676 30.9853ZM53 32.1618V29H52.12V30.8382C51.8267 30.5074 51.4076 30.3235 50.8629 30.3235C49.7314 30.3235 48.8514 31.0956 48.8514 32.1618C48.8514 33.2279 49.7314 34 50.8629 34C51.4495 34 51.8686 33.8162 52.12 33.4853V33.9265H53V32.1618ZM49.7733 32.1618C49.7733 31.5368 50.2343 31.0221 50.9886 31.0221C51.7009 31.0221 52.2038 31.5 52.2038 32.1618C52.2038 32.7868 51.7009 33.3015 50.9886 33.3015C50.2343 33.2647 49.7733 32.7868 49.7733 32.1618ZM20.3562 32.1618V30.3971H19.4762V30.8382C19.1829 30.5074 18.7638 30.3235 18.219 30.3235C17.0876 30.3235 16.2076 31.0956 16.2076 32.1618C16.2076 33.2279 17.0876 34 18.219 34C18.8057 34 19.2248 33.8162 19.4762 33.4853V33.9265H20.3562V32.1618ZM17.0876 32.1618C17.0876 31.5368 17.5486 31.0221 18.3028 31.0221C19.0152 31.0221 19.5181 31.5 19.5181 32.1618C19.5181 32.7868 19.0152 33.3015 18.3028 33.3015C17.5486 33.2647 17.0876 32.7868 17.0876 32.1618Z" fill="#141414"></path>
                </svg>
            </div>
            <div style="max-width: 60px; margin: 0px;" class="col-xs-1- col-sm-1">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-payment-apple-pay" viewBox="0 0 62 40">
                  <path d="M0 4C0 1.79086 1.79086 0 4 0H58C60.2091 0 62 1.79086 62 4V36C62 38.2091 60.2091 40 58 40H4C1.79086 40 0 38.2091 0 36V4Z" fill="#F5F5F5"></path>
                  <path d="M17.2223 13.3206C16.6949 13.9286 15.8511 14.4082 15.0073 14.3397C14.9018 13.5176 15.3149 12.6441 15.7984 12.1047C16.3258 11.4795 17.2487 11.0343 17.9959 11C18.0838 11.8563 17.741 12.6955 17.2223 13.3206ZM17.9871 14.5024C16.7653 14.4339 15.7192 15.1789 15.1391 15.1789C14.5502 15.1789 13.6624 14.5366 12.6955 14.5538C11.4385 14.5709 10.2694 15.2645 9.62773 16.3692C8.30922 18.5785 9.28492 21.8497 10.5595 23.648C11.1836 24.5385 11.9307 25.5147 12.9152 25.4805C13.847 25.4462 14.2161 24.8896 15.3413 24.8896C16.4752 24.8896 16.8004 25.4805 17.7849 25.4634C18.8046 25.4462 19.4462 24.5728 20.0703 23.6822C20.7823 22.6717 21.0724 21.687 21.09 21.6356C21.0724 21.6185 19.121 20.8906 19.1034 18.6984C19.0858 16.8658 20.6417 15.9924 20.712 15.941C19.833 14.6736 18.4617 14.5366 17.9871 14.5024ZM25.0455 12.019V25.3692H27.1727V20.8049H30.1174C32.8071 20.8049 34.697 19.0067 34.697 16.4034C34.697 13.8002 32.8423 12.019 30.1877 12.019H25.0455V12.019ZM27.1727 13.7659H29.6251C31.4711 13.7659 32.5259 14.725 32.5259 16.412C32.5259 18.099 31.4711 19.0666 29.6163 19.0666H27.1727V13.7659V13.7659ZM38.5822 25.4719C39.9183 25.4719 41.1577 24.8126 41.7203 23.7678H41.7642V25.3692H43.7332V18.7241C43.7332 16.7973 42.151 15.5557 39.7161 15.5557C37.4571 15.5557 35.787 16.8145 35.7254 18.5442H37.6417C37.7999 17.7222 38.5822 17.1827 39.6546 17.1827C40.9555 17.1827 41.6851 17.7735 41.6851 18.8611V19.5975L39.0305 19.7517C36.5605 19.8972 35.2244 20.882 35.2244 22.5947C35.2244 24.3245 36.6045 25.4719 38.5822 25.4719ZM39.1536 23.8877C38.0197 23.8877 37.2989 23.3568 37.2989 22.5433C37.2989 21.7041 37.9933 21.216 39.3206 21.1389L41.6851 20.9933V21.7469C41.6851 22.9971 40.5951 23.8877 39.1536 23.8877ZM46.3614 29C48.4359 29 49.4116 28.2293 50.2642 25.8915L54 15.6841H51.8376L49.3325 23.5709H49.2885L46.7834 15.6841H44.5595L48.1634 25.4034L47.97 25.9943C47.6448 26.9962 47.1174 27.3815 46.1768 27.3815C46.0098 27.3815 45.6846 27.3644 45.5527 27.3473V28.9486C45.6758 28.9829 46.2032 29 46.3614 29Z" fill="#141414"></path>
                </svg>
            </div>
            <div style="max-width: 60px; margin: 0px;" class="col-xs-1- col-sm-1">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-payment-paypal" viewBox="0 0 62 40">
                  <path d="M0 4C0 1.79086 1.79086 0 4 0H58C60.2091 0 62 1.79086 62 4V36C62 38.2091 60.2091 40 58 40H4C1.79086 40 0 38.2091 0 36V4Z" fill="#F5F5F5"></path>
                  <path d="M24.403 16.8433H21.5218C21.4264 16.8432 21.3341 16.8772 21.2616 16.9392C21.1891 17.0011 21.141 17.0869 21.1262 17.1811L19.9609 24.5693C19.9555 24.6036 19.9577 24.6386 19.9671 24.672C19.9766 24.7054 19.9932 24.7363 20.0158 24.7626C20.0384 24.789 20.0664 24.8101 20.098 24.8246C20.1295 24.8391 20.1638 24.8466 20.1985 24.8465H21.574C21.6694 24.8465 21.7618 24.8125 21.8343 24.7504C21.9068 24.6884 21.9548 24.6025 21.9696 24.5082L22.2839 22.5155C22.2986 22.4213 22.3466 22.3354 22.419 22.2734C22.4915 22.2114 22.5837 22.1773 22.679 22.1772H23.5911C25.4891 22.1772 26.5844 21.2588 26.8705 19.4388C26.9994 18.6426 26.8759 18.017 26.5031 17.5788C26.0936 17.0977 25.3673 16.8433 24.403 16.8433V16.8433ZM24.7354 19.5416C24.5778 20.5755 23.7879 20.5755 23.0241 20.5755H22.5893L22.8943 18.6447C22.9033 18.5882 22.9321 18.5368 22.9755 18.4996C23.019 18.4625 23.0743 18.4421 23.1315 18.4421H23.3308C23.8511 18.4421 24.3419 18.4421 24.5955 18.7386C24.7467 18.9156 24.7931 19.1785 24.7354 19.5416V19.5416ZM33.0154 19.5083H31.6357C31.5785 19.5083 31.5232 19.5288 31.4797 19.5659C31.4362 19.603 31.4074 19.6545 31.3985 19.711L31.3374 20.0969L31.2409 19.957C30.9422 19.5235 30.2762 19.3786 29.6114 19.3786C28.0867 19.3786 26.7845 20.5333 26.5309 22.1532C26.399 22.9612 26.5865 23.7339 27.0449 24.2727C27.4653 24.7681 28.0669 24.9746 28.7827 24.9746C30.0112 24.9746 30.6924 24.1847 30.6924 24.1847L30.6309 24.568C30.6254 24.6023 30.6274 24.6374 30.6368 24.6708C30.6462 24.7042 30.6627 24.7352 30.6852 24.7616C30.7077 24.7881 30.7357 24.8093 30.7672 24.8239C30.7987 24.8385 30.8329 24.846 30.8677 24.8461H32.1105C32.2059 24.8461 32.2982 24.8121 32.3708 24.75C32.4433 24.688 32.4913 24.6021 32.5061 24.5078L33.2517 19.7855C33.2572 19.7513 33.2552 19.7164 33.2459 19.683C33.2365 19.6497 33.22 19.6187 33.1976 19.5924C33.1751 19.566 33.1472 19.5449 33.1157 19.5303C33.0843 19.5158 33.05 19.5083 33.0154 19.5083V19.5083ZM31.0922 22.1936C30.9591 22.9819 30.3335 23.511 29.5355 23.511C29.1349 23.511 28.8147 23.3825 28.6091 23.139C28.4052 22.8972 28.3277 22.553 28.3926 22.1696C28.5169 21.3881 29.153 20.8417 29.9387 20.8417C30.3305 20.8417 30.649 20.9719 30.8588 21.2175C31.069 21.4657 31.1524 21.812 31.0922 22.1936V22.1936ZM40.3635 19.5083H38.9771C38.9117 19.5084 38.8473 19.5245 38.7895 19.5551C38.7317 19.5857 38.6823 19.63 38.6455 19.684L36.7333 22.5008L35.9227 19.794C35.8978 19.7114 35.847 19.6391 35.7778 19.5876C35.7086 19.5362 35.6247 19.5084 35.5385 19.5083H34.176C34.1378 19.5082 34.1001 19.5173 34.066 19.5347C34.032 19.5521 34.0026 19.5774 33.9803 19.6085C33.958 19.6396 33.9435 19.6755 33.9379 19.7133C33.9323 19.7512 33.9358 19.7898 33.9481 19.826L35.4753 24.3077L34.0395 26.3345C34.014 26.3704 33.9989 26.4127 33.9958 26.4567C33.9927 26.5006 34.0018 26.5446 34.022 26.5838C34.0422 26.6229 34.0728 26.6557 34.1105 26.6787C34.1481 26.7016 34.1914 26.7137 34.2354 26.7137H35.6202C35.6849 26.7137 35.7486 26.6982 35.8059 26.6682C35.8632 26.6383 35.9124 26.5949 35.9493 26.5418L40.5607 19.8854C40.5857 19.8494 40.6003 19.8072 40.6031 19.7635C40.6058 19.7197 40.5965 19.676 40.5762 19.6372C40.5559 19.5984 40.5253 19.5658 40.4878 19.5431C40.4504 19.5204 40.4074 19.5084 40.3635 19.5083V19.5083Z" fill="#253B80"></path>
                  <path d="M44.9538 16.8433H42.0722C41.9769 16.8434 41.8847 16.8774 41.8123 16.9393C41.7398 17.0013 41.6919 17.087 41.677 17.1812L40.5117 24.5693C40.5063 24.6036 40.5084 24.6386 40.5178 24.6719C40.5272 24.7053 40.5437 24.7362 40.5662 24.7625C40.5887 24.7889 40.6167 24.81 40.6481 24.8245C40.6796 24.839 40.7139 24.8466 40.7485 24.8466H42.2272C42.2939 24.8465 42.3584 24.8226 42.4091 24.7792C42.4598 24.7358 42.4933 24.6757 42.5036 24.6098L42.8343 22.5156C42.8491 22.4213 42.897 22.3355 42.9694 22.2735C43.0419 22.2114 43.1341 22.1773 43.2295 22.1773H44.1412C46.0395 22.1773 47.1344 21.2589 47.4209 19.4389C47.5502 18.6426 47.4259 18.017 47.0531 17.5789C46.644 17.0978 45.9181 16.8433 44.9538 16.8433V16.8433ZM45.2862 19.5417C45.1291 20.5755 44.3392 20.5755 43.5749 20.5755H43.1406L43.446 18.6448C43.4548 18.5883 43.4835 18.5368 43.5269 18.4996C43.5703 18.4624 43.6256 18.442 43.6828 18.4421H43.8821C44.4019 18.4421 44.8932 18.4421 45.1468 18.7387C45.298 18.9156 45.3439 19.1785 45.2862 19.5417V19.5417ZM53.5658 19.5084H52.1869C52.1298 19.5082 52.0744 19.5286 52.031 19.5658C51.9875 19.603 51.9589 19.6545 51.9502 19.711L51.8891 20.0969L51.7922 19.9571C51.4935 19.5236 50.8279 19.3786 50.1631 19.3786C48.6384 19.3786 47.3366 20.5334 47.083 22.1533C46.9516 22.9613 47.1382 23.7339 47.5966 24.2728C48.0179 24.7682 48.6186 24.9746 49.3344 24.9746C50.5629 24.9746 51.2441 24.1847 51.2441 24.1847L51.1826 24.5681C51.1771 24.6024 51.1791 24.6376 51.1886 24.671C51.198 24.7045 51.2146 24.7356 51.2372 24.762C51.2597 24.7884 51.2878 24.8097 51.3194 24.8242C51.351 24.8387 51.3854 24.8462 51.4202 24.8461H52.6626C52.758 24.8461 52.8502 24.812 52.9226 24.7499C52.9951 24.6879 53.043 24.6021 53.0577 24.5078L53.8039 19.7856C53.8091 19.7513 53.8069 19.7163 53.7974 19.6829C53.7879 19.6495 53.7712 19.6186 53.7486 19.5922C53.726 19.5659 53.698 19.5448 53.6664 19.5303C53.6348 19.5158 53.6005 19.5084 53.5658 19.5084V19.5084ZM51.6426 22.1937C51.5104 22.9819 50.8839 23.5111 50.086 23.5111C49.6862 23.5111 49.3651 23.3826 49.1596 23.1391C48.9556 22.8973 48.879 22.5531 48.943 22.1697C49.0681 21.3882 49.7034 20.8418 50.4891 20.8418C50.8809 20.8418 51.1994 20.972 51.4092 21.2176C51.6203 21.4657 51.7037 21.812 51.6426 22.1937V22.1937ZM55.1924 17.046L54.0099 24.5693C54.0044 24.6036 54.0065 24.6386 54.0159 24.6719C54.0253 24.7053 54.0418 24.7362 54.0644 24.7625C54.0869 24.7889 54.1148 24.81 54.1463 24.8245C54.1777 24.839 54.212 24.8466 54.2466 24.8466H55.4355C55.6331 24.8466 55.8008 24.7033 55.8311 24.5083L56.9972 17.1205C57.0026 17.0863 57.0006 17.0513 56.9912 17.0179C56.9818 16.9845 56.9653 16.9536 56.9428 16.9272C56.9203 16.9008 56.8923 16.8796 56.8609 16.8651C56.8294 16.8505 56.7951 16.843 56.7605 16.8429H55.4292C55.372 16.8431 55.3168 16.8636 55.2734 16.9009C55.2301 16.9381 55.2013 16.9895 55.1924 17.046Z" fill="#179BD7"></path>
                  <path d="M10.0609 26.2823L10.2812 24.8828L9.79041 24.8714H7.44678L9.07548 14.5443C9.08033 14.5128 9.09636 14.484 9.12064 14.4633C9.14492 14.4425 9.17584 14.4312 9.20777 14.4314H13.1595C14.4714 14.4314 15.3767 14.7044 15.8494 15.2432C16.071 15.496 16.2121 15.7601 16.2804 16.0508C16.352 16.3559 16.3533 16.7203 16.2833 17.1647L16.2783 17.1972V17.482L16.4999 17.6075C16.669 17.6932 16.8211 17.8091 16.9485 17.9496C17.1381 18.1657 17.2607 18.4404 17.3125 18.766C17.366 19.101 17.3484 19.4995 17.2607 19.9507C17.1596 20.4697 16.9962 20.9218 16.7754 21.2917C16.5806 21.623 16.3187 21.91 16.0065 22.1343C15.7133 22.3424 15.3649 22.5004 14.971 22.6015C14.5893 22.7009 14.1541 22.751 13.6768 22.751H13.3693C13.1494 22.751 12.9358 22.8302 12.7681 22.9722C12.6007 23.1157 12.4896 23.314 12.4546 23.5317L12.4315 23.6576L12.0422 26.1243L12.0245 26.2149C12.0199 26.2435 12.0119 26.2578 12.0001 26.2675C11.9887 26.2769 11.9744 26.2821 11.9596 26.2823H10.0609Z" fill="#253B80"></path>
                  <path d="M16.7097 17.23C16.6979 17.3054 16.6845 17.3825 16.6693 17.4617C16.1482 20.1373 14.3653 21.0616 12.0882 21.0616H10.9288C10.6503 21.0616 10.4157 21.2638 10.3723 21.5385L9.77867 25.3032L9.61058 26.3703C9.60388 26.4126 9.60644 26.4559 9.61807 26.4971C9.6297 26.5384 9.65014 26.5766 9.67796 26.6092C9.70579 26.6418 9.74035 26.668 9.77926 26.6859C9.81818 26.7039 9.86052 26.7132 9.90337 26.7132H11.9597C12.2032 26.7132 12.41 26.5363 12.4484 26.2961L12.4686 26.1917L12.8558 23.7347L12.8806 23.5999C12.9185 23.3589 13.1258 23.182 13.3693 23.182H13.6769C15.6691 23.182 17.2288 22.3731 17.6846 20.0324C17.875 19.0546 17.7764 18.2381 17.2726 17.6639C17.1129 17.4863 16.9221 17.3392 16.7097 17.23V17.23Z" fill="#179BD7"></path>
                  <path d="M16.1649 17.0126C15.9985 16.9645 15.8292 16.9269 15.6581 16.9002C15.3199 16.8482 14.9781 16.8233 14.636 16.8256H11.5387C11.4208 16.8255 11.3068 16.8676 11.2172 16.9442C11.1277 17.0209 11.0685 17.127 11.0504 17.2435L10.3915 21.4168L10.3726 21.5386C10.3931 21.4057 10.4605 21.2846 10.5626 21.1971C10.6646 21.1096 10.7947 21.0616 10.9291 21.0617H12.0885C14.3655 21.0617 16.1484 20.1369 16.6696 17.4617C16.6852 17.3825 16.6982 17.3054 16.71 17.23C16.5725 17.1579 16.4292 17.0975 16.2816 17.0493C16.2429 17.0365 16.204 17.0242 16.1649 17.0126V17.0126Z" fill="#222D65"></path>
                  <path d="M11.0502 17.2435C11.0682 17.127 11.1273 17.0208 11.2169 16.9442C11.3065 16.8676 11.4206 16.8256 11.5385 16.826H14.6358C15.0028 16.826 15.3453 16.85 15.6579 16.9006C15.8694 16.9338 16.078 16.9835 16.2818 17.0493C16.4356 17.1003 16.5784 17.1605 16.7103 17.23C16.8653 16.2413 16.709 15.568 16.1744 14.9584C15.585 14.2873 14.5212 14 13.1601 14H9.20836C8.93031 14 8.69313 14.2022 8.65015 14.4773L7.00417 24.9106C6.99651 24.959 6.99943 25.0085 7.01272 25.0557C7.02602 25.1029 7.04939 25.1467 7.08122 25.184C7.11305 25.2213 7.15258 25.2513 7.1971 25.2719C7.24161 25.2924 7.29006 25.3031 7.3391 25.3032H9.77879L10.3913 21.4168L11.0502 17.2435V17.2435Z" fill="#253B80"></path>
                </svg>
              </div>
              <div style="max-width: 60px; margin: 0px;" class="col-xs-1- col-sm-1">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-payment-afterpay" viewBox="0 0 62 40">
                  <path d="M0 4C0 1.79086 1.79086 0 4 0H58C60.2091 0 62 1.79086 62 4V36C62 38.2091 60.2091 40 58 40H4C1.79086 40 0 38.2091 0 36V4Z" fill="#F5F5F5"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M38.6175 25.0342C38.6175 24.1782 37.9172 23.4649 37.0872 23.4649C36.257 23.4649 35.5566 24.1782 35.5566 25.0342C35.5566 25.8773 36.257 26.6036 37.0872 26.6036C37.9172 26.6036 38.6175 25.8773 38.6175 25.0342ZM39.2791 22.8423C39.8627 23.4389 40.1869 24.2171 40.1869 25.0342C40.1869 25.8514 39.8627 26.6296 39.2791 27.2262C38.6954 27.8097 37.9172 28.1211 37.0872 28.1211C36.5423 28.1211 36.0494 27.9266 35.6214 27.5375L35.5566 27.4857V30.9592L33.9873 31.4545V22.064H35.5566V22.531L35.6214 22.4661C36.0885 22.0122 36.6201 21.9474 37.0872 21.9474C37.9043 21.9474 38.6825 22.2588 39.2791 22.8423Z" fill="#31322F"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M42.3145 25.0342C42.3145 25.8903 43.0149 26.6036 43.8451 26.6036C44.6752 26.6036 45.3754 25.8903 45.3754 25.0342C45.3754 24.1912 44.6752 23.4649 43.8451 23.4649C43.0149 23.4649 42.3145 24.1912 42.3145 25.0342ZM41.653 27.2262C41.0693 26.6296 40.7451 25.8514 40.7451 25.0342C40.7451 24.2171 41.0693 23.4389 41.653 22.8423C42.2366 22.2588 43.0149 21.9474 43.8451 21.9474C44.3897 21.9474 44.8826 22.1419 45.3106 22.531L45.3754 22.5828V22.064H46.9449V28.0045H45.3754V27.5375L45.3106 27.6024C44.8438 28.0563 44.3119 28.1211 43.8451 28.1211C43.0279 28.1211 42.2498 27.8097 41.653 27.2262Z" fill="#31322F"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M48.5139 31.4544L49.9278 28.0174L47.5542 22.064H49.2921L50.7708 25.7606L52.2752 22.064H54.0004L50.213 31.4544H48.5139Z" fill="#31322F"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0363 22.9474C9.89279 22.9474 8.96243 23.8836 8.96243 25.0342C8.96243 26.1848 9.89279 27.1209 11.0363 27.1209C12.1798 27.1209 13.1102 26.1848 13.1102 25.0342C13.1102 23.8836 12.1798 22.9474 11.0363 22.9474ZM11.0363 28.0576C10.2244 28.0576 9.46023 27.7476 8.88479 27.1846C8.31461 26.6016 8 25.8374 8 25.0342C8 24.2309 8.31461 23.4668 8.88601 22.8827C9.46037 22.3209 10.2244 22.0109 11.0363 22.0109C11.8576 22.0109 12.5492 22.4454 12.9846 22.8099L13.1102 22.9151V22.1404H14.0728V27.9281H13.1102V27.1533L12.9846 27.2583C12.5492 27.6229 11.8576 28.0576 11.0363 28.0576Z" fill="#31322F"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8156 27.9281V23.0512H14.9336V22.1404H15.8156V20.4299C15.8156 19.3817 16.6478 18.5607 17.7104 18.5607H18.9208L18.6766 19.4715H17.7364C17.2259 19.4715 16.778 19.9314 16.778 20.4559V22.1404H18.6067V23.0512H16.778V27.9281H15.8156Z" fill="#31322F"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2364 27.9281C21.1914 27.9281 20.3416 27.0778 20.3416 26.033V23.0512H19.4595V22.1404H20.3416V18.5607H21.3039V22.1404H23.1328V23.0512H21.3039V26.0071C21.3039 26.5358 21.7608 27.0173 22.2625 27.0173H23.2025L23.4468 27.9281H22.2364Z" fill="#31322F"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M26.3809 22.9862C25.6368 22.9862 24.946 23.5227 24.6616 24.3212L24.6523 24.3386L24.5973 24.4491H28.1653L28.0963 24.3125C27.8297 23.5232 27.1386 22.9862 26.3809 22.9862ZM26.3793 28.0317C25.6261 28.0312 24.9331 27.7179 24.4277 27.1495C23.964 26.6472 23.6928 26.0175 23.6426 25.3271C23.6299 25.2362 23.6299 25.1508 23.6299 25.0602C23.6299 24.8334 23.6555 24.6034 23.7059 24.3764C23.8174 23.856 24.0668 23.3704 24.4273 22.9714C24.9297 22.4187 25.6418 22.1016 26.3809 22.1016C27.1265 22.1016 27.8252 22.4108 28.3484 22.9722C28.7238 23.3878 28.9731 23.8728 29.0686 24.3741C29.1441 24.8171 29.146 25.0923 29.1379 25.2301H24.5535V25.3326C24.6878 26.3576 25.4613 27.1333 26.3538 27.1471C26.9024 27.1202 27.4436 26.8958 27.8186 26.5436L28.6216 27.0231C28.4036 27.254 28.1703 27.4439 27.9106 27.602C27.4872 27.8559 26.9576 28.0046 26.3793 28.0317Z" fill="#31322F"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M30.084 27.9281V22.1404H31.0467V22.872L31.1797 22.725C31.521 22.3484 32.5243 22.0415 33.1913 22.0131L32.9565 22.9743C31.8979 23.0046 31.0467 23.8298 31.0467 24.8397V27.9281H30.084Z" fill="#31322F"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M33.4431 12.9595C34.0153 12.6283 34.5532 12.3168 35.1285 11.9839C34.9423 11.657 34.9877 11.7356 34.818 11.4271C34.6382 11.1004 34.706 10.9719 35.0773 10.9693C36.1586 10.9617 37.2402 10.9608 38.3216 10.9664C38.6428 10.9682 38.7203 11.1057 38.5592 11.389C38.0243 12.3296 37.4835 13.2668 36.9379 14.2012C36.7636 14.4995 36.6111 14.4989 36.429 14.207C36.2419 13.9071 36.2918 13.9812 36.0916 13.6413C35.5275 13.9688 34.9638 14.2963 34.4116 14.6169C34.4447 14.7035 34.4871 14.759 34.5217 14.8193C34.9378 15.5435 35.1237 15.8894 35.5537 16.6054C36.0632 17.454 37.1313 17.505 37.7379 16.7208C37.8053 16.6336 37.867 16.541 37.9222 16.4456C38.9427 14.6779 39.9638 12.9106 40.9782 11.1394C41.0811 10.9601 41.1738 10.7642 41.2184 10.5642C41.3962 9.76688 40.8047 9.01311 39.9735 9.00866C37.7866 8.99707 35.5992 8.99532 33.4123 9.01459C32.4162 9.02336 31.8176 10.0207 32.2551 10.8973C32.3977 11.1826 32.5688 11.4538 32.7291 11.7303C33.0306 12.2507 33.1103 12.3877 33.4431 12.9595Z" fill="#306E9A"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M28.5801 18.4207C28.5811 17.7647 28.5828 16.4805 28.5828 16.4805C28.5828 16.4805 28.3139 16.4777 27.9505 16.4777C27.5805 16.4777 27.5042 16.3469 27.6869 16.0271C28.219 15.0955 28.7571 14.1672 29.3007 13.2422C29.4622 12.9675 29.6052 12.9434 29.7817 13.2488C30.3184 14.1785 30.857 15.1072 31.3867 16.0409C31.5559 16.339 31.4793 16.4695 31.1381 16.4804C30.7859 16.4804 30.4848 16.48 30.4848 16.48L30.4846 18.426C30.4846 18.426 31.9205 18.4263 32.7598 18.4263C33.7416 18.4117 34.3175 17.5209 33.9469 16.6098C33.9057 16.5086 33.8571 16.4095 33.8026 16.3146C32.7945 14.5583 31.7868 12.8018 30.7727 11.049C30.67 10.8716 30.5483 10.6943 30.3989 10.5564C29.8034 10.0066 28.862 10.1386 28.4441 10.8495C27.3446 12.72 26.2534 14.5958 25.1803 16.4816C24.6916 17.3406 25.249 18.3512 26.2191 18.4124C26.5349 18.4323 27.8835 18.4207 28.5801 18.4207Z" fill="#1F4066"></path>
                </svg>
              </div>
                  <div style="max-width: 60px; margin: 0px;" class="col-xs-1- col-sm-1">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 63 41" style="enable-background:new 0 0 63 41;" xml:space="preserve">
                        <style type="text/css">
                          .st0{fill:#F5F5F5;}
                          .st1{fill:#F15C3E;}
                          .st2{fill:#F8991C;}
                          .st3{fill:#21285E;}
                          .st4{fill:#00AEB8;}
                          .st5{fill:#272560;}
                          .st6{fill:#00B6BD;}
                        </style>
                      <path class="st0" d="M0.61,4.93c0-2.21,1.79-4,4-4h54c2.21,0,4,1.79,4,4v32c0,2.21-1.79,4-4,4h-54c-2.21,0-4-1.79-4-4V4.93z"/>
                        <g id="Logo_x2F_medium_x2F_primary-pay">
                          <g id="Logo_x2F_item_x2F_zip_x2F_no-divider">
                            <g id="Asset-1">
                              <g id="Logo_x2F_Icons_x2F_colour-primary">
                                <path id="Shape" class="st1" d="M16.12,19.53L13.7,21.7H7.71c-0.56,0-1.1,0.2-1.52,0.57l3.02-2.71l0.04-0.04l3.79-3.4
                                  c0.61-0.55,1.47-0.73,2.25-0.47c0.79,0.25,1.37,0.9,1.54,1.7C17,18.15,16.73,18.98,16.12,19.53L16.12,19.53z"/>
                                <ellipse id="Oval" class="st2" cx="7.71" cy="17.83" rx="2.3" ry="2.29"/>
                                <path id="Shape_1_" class="st3" d="M7.71,21.71c-0.56,0-1.1,0.2-1.52,0.57l-0.02,0.02c-0.94,0.85-1.02,2.3-0.17,3.24
                                  c0.85,0.94,2.31,1.02,3.25,0.17l4.46-4L7.71,21.71z"/>
                                <path id="Shape_2_" class="st4" d="M13.7,21.71l-4.46,4c-0.42,0.38-0.97,0.59-1.54,0.59h6.88c1.32-0.03,2.25-1.02,2.25-2.3
                                  s-1-2.27-2.26-2.29L13.7,21.71z"/>
                              </g>
                              <g id="Logo_x2F_item_x2F_zip_x2F_text_x2F_primary" transform="translate(61.824219, 0.258065)">
                                <path id="Shape_3_" class="st5" d="M-41.75,24.11c-0.19,0.01-0.38-0.07-0.51-0.21c-0.13-0.14-0.2-0.32-0.19-0.52
                                  c0-0.19,0.04-0.38,0.14-0.55c0.08-0.15,0.18-0.29,0.3-0.42l2.85-3.2h-2.48c-0.24,0-0.41-0.08-0.51-0.24
                                  c-0.1-0.17-0.14-0.35-0.13-0.53c-0.01-0.18,0.04-0.36,0.15-0.51c0.1-0.14,0.27-0.22,0.45-0.21h4.39
                                  c0.18-0.01,0.37,0.06,0.5,0.18c0.12,0.12,0.18,0.3,0.18,0.52c0.01,0.17-0.03,0.35-0.1,0.5c-0.07,0.14-0.17,0.26-0.27,0.38
                                  l-2.96,3.29h2.8c0.17,0,0.33,0.07,0.44,0.2c0.11,0.15,0.17,0.33,0.16,0.52c0.01,0.19-0.03,0.38-0.13,0.55
                                  c-0.1,0.15-0.26,0.23-0.51,0.23L-41.75,24.11z"/>
                                <path id="Shape_4_" class="st5" d="M-34.87,24.2c-0.78,0-0.94-0.4-0.94-0.73v-4.87c0-0.25,0.08-0.46,0.23-0.61
                                  c0.16-0.15,0.39-0.23,0.73-0.23c0.28,0,0.5,0.06,0.66,0.18c0.16,0.12,0.24,0.32,0.24,0.59v4.92c0,0.27-0.09,0.46-0.25,0.59
                                  C-34.38,24.14-34.6,24.2-34.87,24.2z M-34.87,17.23c-0.31,0-0.55-0.09-0.74-0.26s-0.29-0.42-0.29-0.71
                                  c-0.01-0.26,0.1-0.52,0.29-0.7c0.18-0.18,0.44-0.27,0.74-0.27c0.25,0,0.5,0.08,0.7,0.24c0.22,0.16,0.33,0.41,0.33,0.74
                                  c0,0.3-0.1,0.53-0.29,0.71C-34.32,17.15-34.57,17.23-34.87,17.23L-34.87,17.23z"/>
                                <path id="Shape_5_" class="st5" d="M-31.93,26.07c-0.73,0-0.88-0.4-0.88-0.74v-6.89c-0.01-0.22,0.08-0.43,0.23-0.58
                                  c0.15-0.15,0.39-0.23,0.73-0.23c0.2,0,0.41,0.04,0.59,0.14c0.19,0.1,0.3,0.3,0.3,0.57c0.03-0.04,0.08-0.09,0.12-0.14
                                  c0.12-0.12,0.26-0.24,0.41-0.32c0.37-0.23,0.79-0.34,1.21-0.34c0.41-0.01,0.82,0.08,1.19,0.25c0.34,0.17,0.64,0.41,0.86,0.71
                                  c0.24,0.32,0.41,0.69,0.52,1.07c0.11,0.44,0.17,0.89,0.17,1.34c0,0.46-0.06,0.92-0.19,1.36c-0.11,0.39-0.31,0.76-0.56,1.08
                                  c-0.24,0.31-0.56,0.54-0.91,0.71c-0.38,0.17-0.8,0.26-1.22,0.25c-0.28,0.01-0.57-0.03-0.84-0.11c-0.19-0.06-0.38-0.16-0.55-0.27
                                  c-0.1-0.06-0.17-0.13-0.25-0.22v1.57c0,0.27-0.08,0.47-0.22,0.59C-31.38,26-31.61,26.07-31.93,26.07z M-29.69,19.09
                                  c-0.2-0.01-0.4,0.04-0.58,0.13c-0.17,0.1-0.31,0.23-0.42,0.38c-0.12,0.17-0.21,0.38-0.26,0.59c-0.06,0.24-0.09,0.49-0.09,0.74
                                  c0,0.57,0.11,1.03,0.35,1.36c0.24,0.33,0.56,0.49,1,0.49s0.76-0.17,0.98-0.51c0.22-0.34,0.34-0.79,0.34-1.34
                                  c0-0.25-0.03-0.5-0.1-0.74c-0.05-0.21-0.14-0.4-0.25-0.59c-0.1-0.16-0.24-0.29-0.41-0.38C-29.29,19.13-29.49,19.09-29.69,19.09z
                                  "/>
                              </g>
                            </g>
                          </g>
                          <g id="Logo_x2F_x-large_x2F_item_x2F_divider_x2F_colour" transform="translate(139.000000, 0.000000)">
                            <path id="Rectangle-15" class="st6" d="M-102.01,15.48L-102.01,15.48c0.12,0,0.23,0.1,0.23,0.23v10.38c0,0.12-0.1,0.23-0.23,0.23
                              l0,0c-0.12,0-0.23-0.1-0.23-0.23V15.7C-102.23,15.57-102.13,15.48-102.01,15.48z"/>
                          </g>
                          <g id="Logo_x2F_item_x2F_sub_x2F_pay" transform="translate(151.655286, 0.258065)">
                            <path id="pay" class="st5" d="M-112.03,18.21c0-0.17,0.03-0.29,0.11-0.35s0.19-0.1,0.35-0.1s0.27,0.03,0.36,0.1
                              c0.08,0.06,0.12,0.17,0.12,0.35v0.57c0.17-0.31,0.41-0.58,0.73-0.79c0.33-0.22,0.73-0.32,1.21-0.32c0.4,0,0.76,0.08,1.08,0.23
                              c0.31,0.15,0.59,0.36,0.8,0.63c0.22,0.27,0.38,0.59,0.5,0.97c0.11,0.38,0.17,0.79,0.17,1.26c0,0.45-0.05,0.87-0.17,1.25
                              c-0.11,0.38-0.28,0.71-0.5,0.98s-0.49,0.49-0.8,0.64c-0.31,0.16-0.68,0.23-1.08,0.23c-0.49,0-0.88-0.1-1.2-0.28
                              c-0.31-0.18-0.54-0.4-0.7-0.65v2.73c0,0.17-0.04,0.3-0.13,0.37c-0.09,0.06-0.21,0.1-0.37,0.1s-0.27-0.03-0.36-0.1
                              c-0.09-0.06-0.13-0.18-0.13-0.37C-112.03,25.64-112.03,18.21-112.03,18.21z M-107.64,20.76c0-0.67-0.14-1.21-0.42-1.62
                              c-0.28-0.4-0.69-0.6-1.24-0.6c-0.28,0-0.52,0.06-0.75,0.17c-0.22,0.12-0.41,0.28-0.56,0.49c-0.15,0.21-0.27,0.45-0.35,0.73
                              c-0.08,0.27-0.12,0.56-0.12,0.87c0,0.68,0.16,1.21,0.46,1.61c0.31,0.38,0.74,0.58,1.3,0.58c0.28,0,0.52-0.05,0.73-0.16
                              s0.38-0.26,0.52-0.45c0.14-0.19,0.24-0.43,0.31-0.71C-107.68,21.39-107.64,21.09-107.64,20.76z M-101.38,20.04v-0.23
                              c0-0.44-0.11-0.77-0.34-0.98c-0.23-0.22-0.59-0.32-1.11-0.32c-0.2,0-0.38,0.03-0.52,0.07c-0.15,0.04-0.27,0.1-0.38,0.16
                              c-0.1,0.06-0.19,0.13-0.25,0.19c-0.07,0.07-0.12,0.13-0.17,0.18c-0.08,0.1-0.14,0.16-0.2,0.18c-0.06,0.03-0.12,0.04-0.21,0.04
                              c-0.12,0-0.24-0.03-0.34-0.11c-0.1-0.08-0.16-0.17-0.16-0.28c0-0.06,0.01-0.11,0.02-0.15s0.03-0.08,0.05-0.13
                              c0.01-0.03,0.05-0.09,0.14-0.19c0.09-0.1,0.22-0.23,0.39-0.35s0.4-0.24,0.67-0.33c0.27-0.1,0.61-0.15,1-0.15
                              c0.45,0,0.81,0.05,1.12,0.17c0.31,0.11,0.55,0.26,0.73,0.45c0.18,0.18,0.32,0.4,0.41,0.64c0.09,0.24,0.13,0.5,0.13,0.75v3.68
                              c0,0.25-0.17,0.38-0.5,0.38c-0.23,0-0.36-0.05-0.41-0.15c-0.05-0.1-0.08-0.24-0.08-0.42v-0.35c-0.08,0.1-0.17,0.22-0.28,0.33
                              c-0.11,0.11-0.24,0.22-0.4,0.31c-0.16,0.1-0.35,0.17-0.57,0.24s-0.47,0.1-0.76,0.1c-0.35,0-0.65-0.04-0.9-0.13
                              c-0.25-0.09-0.46-0.2-0.63-0.35c-0.17-0.15-0.29-0.32-0.38-0.53c-0.08-0.2-0.12-0.42-0.12-0.66c0-0.3,0.05-0.58,0.17-0.83
                              c0.1-0.25,0.3-0.47,0.56-0.66s0.61-0.32,1.05-0.43c0.44-0.1,0.99-0.17,1.65-0.17L-101.38,20.04z M-102.02,20.82
                              c-0.5,0.01-0.9,0.04-1.21,0.1c-0.31,0.06-0.55,0.15-0.73,0.24c-0.17,0.1-0.3,0.23-0.37,0.38c-0.07,0.15-0.1,0.31-0.1,0.5
                              c0,0.26,0.09,0.49,0.27,0.67c0.18,0.19,0.48,0.28,0.9,0.28c0.37,0,0.7-0.08,1-0.24c0.3-0.17,0.52-0.37,0.68-0.62
                              c0.13-0.21,0.2-0.49,0.2-0.84v-0.48L-102.02,20.82z M-97.13,25.79c-0.05,0.1-0.11,0.19-0.17,0.24c-0.06,0.05-0.16,0.08-0.28,0.08
                              c-0.13,0-0.24-0.03-0.34-0.11c-0.1-0.07-0.14-0.17-0.14-0.31c0-0.03,0.01-0.09,0.02-0.14s0.03-0.12,0.08-0.19l0.85-1.9l-2.04-4.87
                              c-0.03-0.08-0.06-0.15-0.1-0.21s-0.04-0.13-0.04-0.19c0-0.13,0.06-0.24,0.18-0.31c0.12-0.08,0.25-0.11,0.4-0.11
                              c0.17,0,0.31,0.1,0.39,0.32l1.73,4.22l1.83-4.25c0.04-0.1,0.1-0.18,0.15-0.23c0.05-0.04,0.13-0.07,0.22-0.07
                              c0.14,0,0.27,0.03,0.38,0.1c0.11,0.07,0.17,0.17,0.17,0.3c0,0.05-0.02,0.11-0.04,0.17s-0.05,0.13-0.09,0.2L-97.13,25.79z"/>
                          </g>
                        </g>
                    </svg>
        
                  </div>
                  </div>
                </div>

        </div>
         <!--End of Payment Logo section -->

      </div>
    </div>
  </div>
</div>
