<div class="divider xl-gap owl-divider">
  <a href="/blogs/news" class="link-white"><h2>LATEST BLOG POSTS</h2></a>
</div>

<div class="row img-row medium-gap">
  {% for article in blogs['news'].articles limit:4 %}
  <div class="col-sm-3">
    <a href="{{ article.url }}" class="img-link link">
      <img src="{{article.image.src | img_url: 'large'}}">
      <span class="secondary">{{ article.created_at | date: "%a, %b %d, %y"  }}<br></span>
      <span>{{ article.title}}</span>
    </a>
  </div>
  {% endfor %}
</div>
