<div class="container_homepage">
{%section 'Slideshow' %}
{%section 'Section-three' %}
{%section'Section_two'%}
{%section 'section-four' %}
{%section'Living_card'%}
{%comment%}{%section'Fonco'%}{%endcomment%}
{%section'Card_Games'%}
{%section'Logos'%}
{%section'featured_collection'%}
{%section'Feature_content'%}
{%section'Blog-section'%}
</div>
{%comment%}
<!-- <div id="owl-main" class="owl-carousel owl-theme">
  {% for product in collections['banner-images'].products %}
  <div class="item" style="background-color:{{ product.description }}">
    <div class="container" style="margin: auto">
      <a href="{{product.title}}">
        <img src="{{product.images[0].src | product_img_url: 'master'}}" alt="{{ product.title }}">
      </a>
    </div>
  </div>
  {% endfor %}
</div> -->



<div class="container">

  {% include 'image-row-1' %}
  {% assign owlTitle = 'HOT PRODUCTS' %}
  {% assign owlID = 'owl-hot' %}
  {% assign owlCollection = 'hot-products' %}
  {% assign owlLimit = 15 %}
  {% include 'owl-slideshow' %}





  {% assign owlTitle = 'NEW PRODUCTS' %}
  {% assign owlID = 'owl-new' %}
  {% assign owlCollection = 'new-products' %}
  {% assign owlLimit = 15 %}
  {% include 'owl-slideshow' %}

  {% include 'blog-row' %}




</div>
{%endcomment%}