<div id="about">
<div>
<h1>Customer Service Policy</h1>
<p>In Gamerholic, we strive to provide the customer with the best service possible, allowing customers to enjoy the entire experience from shopping to receiving the ordered item. </p>
<h2>Contacts: </h2>
<p>Customers are welcome to contact Gamerholic via the following channels: </p>
<ul>
<li>Facebook</li>
<li>Email </li>
<li>Mobile  </li>
</ul>
<p>Our customer service manager will respond message via the above channels seven days a week. Please do not spam messages on either of those channels and allow up to 12 hours for us to get back to you. </p>
<h2>Returns</h2>
<p>If the item is damaged or does not function properly under warranty, customers are advised to contact Gamerholic and raise the issue promptly. Once we confirm the item is indeed faulty under normal use, we will ship a brand new product to the nominated address within 5 business days after receiving the defective item sent by customers. </p>
<p>If the customer changes the mind after completing a purchase, please contact Gamerholic within 30 days after the item has arrived. Please note that item should be in good condition, ideally brand new and sealed. </p>
If the item is damaged during the shipping, please contact Gamerholic immediately upon receiving the item. Once confirmed, we will assist customers to come up with a resolution by either shipping a new product or available parts to the customer. </div>
<div><br />
<h2 id="pick-up">Accounts</h2>
<p>Customers are welcome to register an account at Gamerholic for quicker checkout, review order history, and save favourite items. </p>
<h2 id="pick-up">Shipping</h2>
</div>
</div>
<div id="about">
<div>We ship most orders within 1 business day after the payment is cleared unless orders include PREORDER and/or BACKORDER item. Please refer to Shipping &amp; PREORDER policy for more information. Please note that delivery time depends on distance and vary from state to state. </div>
<div></div>
<h2>Navigation &amp; Range </h2>
<div></div>
<div>We strive to provide a wide range of products to our customers and we keep expanding our product catalogue. In Gamerholic, you can easily find the product you want via browsing or searching. Please provide any feedback to our website via Email. </div>
<div></div>
<div>More information can be found in the footer at https://gamerholic.com.au </div>
<div>
<h1></h1>
</div>
</div>
