<div id="about" class="container">
    <div style="max-width: 800px; margin: auto;" class="xxl-gap">
    <h1 class="heading xl-gap">Contact Us</h1>
    <p>You can contact us through one of the following channels:&nbsp;</p>
    <p>Email: sales@gamerholic.com.au&nbsp;</p>
    <p>Facebook:&nbsp;https://www.facebook.com/GamerholicAU</p>
    <p>Mail:&nbsp;</p>
    <p class="footer-item">PO BOX 158</p>
    <p class="footer-item">Allawah NSW 2218</p>
    <p class="footer-item">This is also the address used for returning your purchase to us.&nbsp;</p>
    <p class="footer-item"><strong>Please note: We do not operate a business phone nor offer support through phone call.&nbsp;</strong></p>
    <p>&nbsp;<br></p>
    </div>
    </div>