<div class="container" id="about">
  <div class="xxl-gap" style="max-width: 800px; margin:auto;">
    <h1 class="heading xl-gap">PREORDER Policy</h1>
	<p>A key service we provide at Gamerholic is the ability to pre-order items before they’re available for sale on the store shelves. Please review our FAQ page before proceeding with placing a pre-order. </p>
<p class="entry-summary">- If your order contains both in stock items as well as pre-order items, we will<span> </span><strong>hold the order</strong> until the pre-order item's release date before dispatching</p>
<p class="entry-summary">- Items will be shipped as soon as stock arrives.</p>
<p class="entry-summary">- We recommend placing<span> </span><strong>separate orders unless you are happy to wait.</strong></p>
<p>- Please note the release date provided is just an<span> </span><strong>estimate</strong>, it can occasionally be further delayed. </p>
<p>Should you be interested in purchasing a product through us that we do not currently have in stock, please contact us directly using the contact form and we will do our very best to source it for you. </p>
  </div>
</div>