<div class="container" id="about">
  <div class="xxl-gap" style="max-width: 800px; margin:auto;">
    <h1 class="heading xl-gap">Return & Refund Policy</h1>
	<p><strong>Refund Terms</strong></p>
<p>Gamerholic offers the option to refund provided you meet our return conditions and the statutory rights guidelines as set by the Australian Competition &amp; Consumer Commission (ACCC).</p>
<p>If you have met all requirements and conditions we will process your refund and notify you once this has been processed. <strong>PayPal</strong><span> </span><strong></strong>now offers<strong><span> </span>refunds on return shipping fees</strong>, see below for more details. </p>
<p><strong>PayPal Refunded Returns</strong></p>
<ul>
<p><li>PayPal now offers refunds on return shipping fees of up to $45 per return and 8 returns per year. </li></p>
<p><li>You must have this activated on your PayPal account prior to purchase.</li></p>
<p><li>For more info please see <a href="https://www.paypal.com/au/webapps/mpp/returns">https://www.paypal.com/au/webapps/mpp/returns</a></li></p>
</ul>
<p><strong>Refund Payment</strong></p>
<p>Any refunds will be processed via the original form of payment:</p>
<ul>
<p><li>PayPal: Your refund will be credited into the same account your payment came from.</li></p>
<p><li>Credit Card: Your refund will be credited into a bank account designated by you. Please note funds make take a few business days to clear after refund confirmation.</li></p>
</ul>
<p><strong>Refund Process Time.</strong></p>
<p>Returns generally take 2-5 business days to reach us. Once received, your return request will be processed within 1-3 business days. For refunds, please note that your financial institution may need an extra 3-5 business days to clear the funds back into your account.</p>
<p><strong>If your item is faulty.</strong></p>
<p>We aim to provide our customers with products of the highest standard and quality. If you have received an item with a defect, please contact us within 60 days. We will guide you through the returns process and help resolve the problem as quickly as possible. We also request that you take a photo showing the defect/fault to speed up the process and ensure you receive the correct replacement part.</p>
<div class="page" title="Page 1">
<div class="section">
<div class="layoutArea">
<div class="column">
<p><strong>Afterpay or Zippay/Zipmoney Exchanges or Refunds<br /><br /></strong>Due to the associated fees, there will be a 10% restocking fee for exchanges or returns for orders paid with Afterpay or Zippay/Zipmoney. </p>
</div>
</div>
</div>
</div>
  </div>
</div>
<div class="container" id="about">
  <div class="xxl-gap" style="max-width: 800px; margin:auto;">
    <h1 class="heading xl-gap">Cancellation</h1>
<p><strong>Can I cancel my order or change the shipping address after the order is placed?</strong></p>
<p>We strive on providing the best shopping experience for you. However, we understand situation may change when you are shopping. Therefore, we accept order cancellation, assuming you accept following terms and conditions. </p>
<p>1. You can change your mind at any time when you place an order on our website before we ship your order. If we have shipped your order before you change your mind, you can send your item back within 30 days after you receive the item, assuming the item remains sealed and brand new condition. Once we receive the item, we will process a full refund. </p>
<p>2. If you choose to check out using Afterpay or zippay/zipmoney, we charge 10% restocking fee to cover associated costs with Afterpay or zippay/zipmoney. Please keep this in mind during checkout. </p>
<p>3. Please contact us via <a href="https://www.facebook.com/GamerholicAU" target="_blank" title="Facebook" rel="noopener noreferrer">Facebook</a> prior requesting a refund. If your address is changed, we recommend you to contact us immediately or request a free local pickup when possible.</p>
  </div>
</div>
