<div class="container" id="about">
<div class="xxl-gap" style="max-width: 800px; margin: auto;">
<h1 class="heading xl-gap">About Us</h1>
<p>Gamerholic is an Australian online store based in NSW and founded in 2015. We sell discounted Trading Card Products, Card Accessories and Board Games at the best prices. Our products are all genuine and received from licensed distributors in Australia or overseas.</p>
<p>We currently distribute over 4000+ products across the store and looking to expand further in the near future. We’re dedicated in brining you the best products at the most affordable prices. All our prices are in Australian Dollars and our delivery times are very reasonable. For more information about how long it may take for you to receive your order, click here</p>
<p>Just a little bit of a background on where we stared. We’ve initially started selling Yugioh and since then we have branched out to all sort of card games and board games. We are currently based in Sydney but that doesn’t stop us from making thousands of happy customers who shop with us in Australia &amp; New Zealand.</p>
<p>We do a flat shipping of $10 to Australia Wide. All orders are packed instantly where possible. At Gamerholic we always look for the very latest and upcoming products. If there are any products you would like to see us stock please send us a suggestion on Facebook.</p>
<h1 class="heading xl-gap">Our Mission</h1>
<p><span>Our mission is to become one of the leading online toys and games retail stores in Australia.</span></p>
<h1 class="heading xl-gap">Our Value</h1>
<p><span>Customers First – We believe our customers are the reason our business is able to thrive and grow. That’s why we always put our customers first. </span></p>
<p><span>Quality Matters – We love high quality products, and believe our customers love them too. We only stock high quality and genuine products.  </span></p>
<p><span>Competitive Pricing – Customers love low prices and want more bang for their buck. We strive to provide the most competitive pricing to our customers. </span></p>
</div>
</div>
