<div class="container" id="about">
<div class="xxl-gap" style="max-width: 800px; margin: auto;">
<h1 class="heading xl-gap">Shipping &amp; PREORDER Policy</h1>
<h2>AU Delivery</h2>
<p>We use Fastway for majority of our AU deliveries. The delivery times can vary from 2 to 7 business days, but in most cases you should allow approximately 5 business days from the purchase date. If you require it earlier, we can send by Express post for an extra charge. Just contact us regarding this request via Facebook and we will correspond with you regarding this.<span> </span><br>For domestic customers shipping costs are:</p>
<ul>
<li>
<p><b>AU Standard Shipping: $10 flat rate for all orders</b></p>
</li>
<li>
<p><b>AU Express Shipping: Calculated based on Weight and Distance</b></p>
</li>
<li>
<p><strong>Note: There is no free shipping option</strong></p>
</li>
</ul>
<p> <br></p>
<h2 class="faq-title">NZ Delivery</h2>
<p>We use Australia Post Express Courier International Parcel for all of our deliveries.</p>
<ul>
<li>
<p>Calculated by weight. Max 10kg. </p>
</li>
<li>
<p>Delivery times: 5 to 7 business days</p>
</li>
<li>
<p>End-to-end tracking with signature</p>
</li>
<li>
<p>Proof of delivery</p>
</li>
<li>
<p>Import charges may apply to your purchase. Find out more here:</p>
</li>
</ul>
<p><a href="https://www.customs.govt.nz/personal/duty-and-gst/duty-and-allowances/" rel="nofollow noopener noreferrer" target="_blank" title="Duty and allowances">https://www.customs.govt.nz/personal/duty-and-gst/duty-and-allowances/</a></p>
<p><a href="https://www.customs.govt.nz/personal/duty-and-gst/whats-my-duty-estimator/" rel="nofollow noopener noreferrer" target="_blank" title="What's My Duty estimator">https://www.customs.govt.nz/personal/duty-and-gst/whats-my-duty-estimator/</a></p>
<h2 class="faq-title">International Delivery</h2>
<p class="faq-title" id="pick-up">We deliver products internationally. For international customers, please send us an email for more information before placing an order to ensure you have a smoother purchase experience. </p>
</div>
</div>
<div class="container" id="about">
<div class="xxl-gap" style="max-width: 800px; margin: auto;">
<h2 class="heading xl-gap">PREORDER Policy</h2>
<p>A key service we provide at Gamerholic is the ability to pre-order items before they’re available for sale on the store shelves. Please review our FAQ page before proceeding with placing a pre-order. </p>
<p class="entry-summary">- If your order contains both in-stock items as well as pre-order items, we will<span> </span><strong>hold the order</strong> until the pre-order item's release date before dispatching</p>
<p class="entry-summary">- Items will be shipped as soon as stock arrives.</p>
<p class="entry-summary">- We recommend placing<span> </span><strong>separate orders unless you are happy to wait.</strong></p>
<p>- Please note the release date provided is just an<span> </span><strong>estimate </strong>provided by the supplier, it can occasionally be further delayed. <strong>If you preorder board games, please note that the release of board games often gets delayed. </strong>Gamerholic is not responsible for any delays.</p>
<p>- If you want to cancel PREORDER products, we can provide you with store credit. Refund is not possible for PREORDER products. </p>
<p>Should you be interested in purchasing a product through us that we do not currently have in stock, please contact us directly using the contact form and we will do our very best to source it for you. </p>
</div>
</div>
