<div class="container" id="about">
  <div class="xxl-gap" style="max-width: 800px; margin:auto;">
    <h1 class="heading xl-gap">Shipping Policy</h1>
	<h2>AU Delivery</h2>
<p>We use Fastway for majority of our AU deliveries. The delivery times can vary from 2 to 7 business days, but in most cases you should allow approximately 5 business days from the purchase date. If you require it earlier, we can send by Express post for an extra charge. Just contact us regarding this request via Facebook and we will correspond with you regarding this.<span> </span><br />For domestic customers shipping costs are:</p>
<div><strong>AU Standard Shipping: $10 flat rate for all orders</strong></div>
<div><b>AU Express Shipping: Calculated based on Weight and Distance</b></div>
<div><b>Note: There is no free shipping option</b></div>
<div><strong></strong></div>
<br />
<h2 class="faq-title">NZ Delivery</h2>
<p><span>We use Australia Post Express Courier International Parcel for </span><span>all</span><span> of our deliveries.</span></p>
<ul>
<li>Calculated by weight. Max 10kg. </li>
<li>Delivery times: 5 to 7 business days</li>
<li>End-to-end tracking with signature</li>
<li>Proof of delivery</li>
<li>Import charges may apply to your purchase. Find out whether these apply here:</li>
<ul>
<li><a href="https://www.customs.govt.nz/personal/duty-and-gst/duty-and-allowances/" rel="nofollow noopener noreferrer" target="_blank" title="Duty and allowances">https://www.customs.govt.nz/personal/duty-and-gst/duty-and-allowances/</a></li>
<li><a href="https://www.customs.govt.nz/personal/duty-and-gst/whats-my-duty-estimator/" rel="nofollow noopener noreferrer" target="_blank" title="What's My Duty estimator">https://www.customs.govt.nz/personal/duty-and-gst/whats-my-duty-estimator/</a></li>
</ul>
</ul>
<br />
<h2 class="faq-title" id="pick-up">Pick-Ups</h2>
<p>Free local pickup is is available at Hurstville NSW. All pickups must be arranged via <a href="https://www.facebook.com/GamerholicAU/" target="_blank" title="Facebook" rel="noopener noreferrer">Facebook</a>. </p>
  </div>
</div>

