<div id="about" class="container">
<div style="max-width: 800px; margin: auto;" class="xxl-gap" data-mce-style="max-width: 800px; margin: auto;">
<h1 class="heading xl-gap">Customer Service Policy</h1>
<p>In Gamerholic, we strive to provide the customer with the best service possible, allowing customers to enjoy the entire experience from shopping to receiving the ordered item.&nbsp;</p>
<h2>Contacts</h2>
<p><span>Gamerholic has put in place a strong customer service policy to accommodate the needs of all our customers. </span></p>
<p><span>Customers can contact us through</span></p>
<ul>
<li>
<p>Facebook</p>
</li>
<li>
<p>Email</p>
</li>
<li>
<p>Mobile</p>
</li>
</ul>
<p><span>We strive to reply to customer enquiries within 24 hours. Our customer service manager responds from Monday to Thursday and Sunday.</span></p>
<h2>Returns</h2>
<p><span>Gamerholic accepts returns provided they are requested within 14 business days, the item has not been opened and the product is in original condition.&nbsp;&nbsp;</span></p>
<p><span>Returns generally take 2-7 business days to process. Once a customer’s request is received and approved, the refund will be processed via the original payment method. </span></p>
<h2>Accounts</h2>
<p>Customers are welcome to register an account at Gamerholic for quicker checkout, review order history, and save favourite items. Please note that Gamerholic may restrict access or delete an account for reasons including but not limited to: spamming, copyright infringement, malicious activities, misuse of the account that may cause damage to Gamerholic.&nbsp;</p>
<h2>Shipping</h2>
<p>Gamerholic uses <em>Fastway </em>and<em> Courier Please</em> for couriers and <em>Australia Post</em> for all other orders. Delivery times can vary from 2 to 7 business days. We ask our customers to allow approximately 5 business days from the purchase date for their package to arrive.</p>
<h4>AU Delivery</h4>
<p>Gamerholic ships out orders within 3 business days from the day of purchase. The delivery times can vary from 2 to 7&nbsp;business days, but you should allow approximately 5 business days from the purchase date in most cases.<br><br>Gamerholic offers&nbsp;2 shipping methods within Australia.<span>&nbsp;</span><br><br><strong>Standard Shipping (No Rural, PO BOX and Parcel Lockers)</strong><span>&nbsp;</span><br>Gamerholic uses a combination of Fastway and Courier Please for our shipping. We charge a flat rate of $10 for all shipments via courier.<span>&nbsp;</span><br><br><strong>Standard Shipping (Rural Areas, PO BOX and Parcel Lockers)&nbsp;</strong><br>$16 Flat Fee for Parcel Lockers, PO BOX and Rural Area.<br>Gamerholic Reserves the right to charge an additional $6 if your area is deemed as a rural area. Rural areas are considered as Outer Regional Areas and Remote Areas of Australia. Payment will be requested via PayPal or Bank transfer only.</p>
<div><b>Note: There is no free shipping option</b></div>
<div><b></b><br></div>
<h4 class="faq-title">NZ Delivery</h4>
<p>We use Australia Post Express Courier International Parcel for&nbsp;all of our deliveries.</p>
<ul>
<li>
<p>Calculated by weight. Max 10kg.&nbsp;</p>
</li>
<li>
<p>Delivery times: 5 to 7 business days</p>
</li>
<li>
<p>End-to-end tracking with signature</p>
</li>
<li>
<p>Proof of delivery</p>
</li>
<li>
<p>Import charges may apply to your purchase. Find out more here:</p>
</li>
</ul>
<p><a href="https://www.customs.govt.nz/personal/duty-and-gst/duty-and-allowances/" rel="nofollow" title="Duty and allowances" target="_blank" data-mce-href="https://www.customs.govt.nz/personal/duty-and-gst/duty-and-allowances/">https://www.customs.govt.nz/personal/duty-and-gst/duty-and-allowances/</a></p>
<p><a href="https://www.customs.govt.nz/personal/duty-and-gst/whats-my-duty-estimator/" rel="nofollow" title="What's My Duty estimator" target="_blank" data-mce-href="https://www.customs.govt.nz/personal/duty-and-gst/whats-my-duty-estimator/">https://www.customs.govt.nz/personal/duty-and-gst/whats-my-duty-estimator/</a></p>
<h4 class="faq-title">International&nbsp;Delivery</h4>
<p class="faq-title" id="pick-up">We deliver products internationally. Please send us an email for more information before placing an order to ensure you have a smoother purchase experience for international customers.&nbsp;</p>
<h2 class="heading xl-gap">PREORDER</h2>
<p>A key service we provide at Gamerholic is the ability to pre-order items before they’re available for sale on the store shelves. Please review our&nbsp;FAQ page&nbsp;before proceeding with placing a pre-order.&nbsp;</p>
<p class="entry-summary">- If your order&nbsp;contains both in-stock&nbsp;items&nbsp;as well as pre-order items, we will<span>&nbsp;</span><strong>hold the order</strong>&nbsp;until the pre-order item's release date&nbsp;before dispatching</p>
<p class="entry-summary">- Items will be shipped as soon as stock arrives.</p>
<p class="entry-summary">- We recommend placing<span>&nbsp;</span><strong>separate orders unless you are happy to wait.</strong></p>
<p>- Please note the release date&nbsp;provided is just an<span>&nbsp;</span><strong>estimate<span>&nbsp;</span></strong>provided by the supplier, it can occasionally be&nbsp;further delayed.&nbsp;<strong>If you&nbsp;preorder board games, please note that the release of board games often gets delayed.&nbsp;</strong>Gamerholic is not responsible for any delays.</p>
<p>- If you want to cancel PREORDER products, we can provide you with store credit. Refund is not possible for PREORDER products.&nbsp;</p>
<p>Should you be interested in purchasing a product through us that we do not currently have in stock, please contact us directly using the contact form and&nbsp;we will do our very best to source it for you.&nbsp;</p>
<h2>Navigation &amp; Range&nbsp;</h2>
<p>We strive to provide a&nbsp;wide range of products to our customers and we keep expanding our product catalogue. In Gamerholic, you can easily find the product you want via browsing or searching. Please provide any feedback to our website via Email.&nbsp;</p>
<h2>Rewards&nbsp;</h2>
<p>Gamerholic provides a rewards program to encourage customer engagement and provide benefit for return customers. Please note that Gamerholic may alter or terminate the rewards program at any time without further notice.&nbsp;</p>
</div>
</div>
<div id="about" class="container">
<div style="max-width: 800px; margin: auto;" class="xxl-gap" data-mce-style="max-width: 800px; margin: auto;">
<h1 class="heading xl-gap"></h1>
</div>
</div>
