<div class="container" id="about">
<div class="xxl-gap" style="max-width: 800px; margin: auto;">
<h1 class="heading xl-gap">Customer Service Policy</h1>
<p>In Gamerholic, we strive to provide the customer with the best service possible, allowing customers to enjoy the entire experience from shopping to receiving the ordered item. </p>
<h2>Contacts</h2>
<p><span>Gamerholic has put in place a strong customer service policy to accommodate the needs of all our customers. </span></p>
<p><span>Customers are able to contact us through</span></p>
<ul>
<li><span>Facebook</span></li>
<li><span>Email</span></li>
<li><span>Mobile </span></li>
</ul>
<p><span>We strive to reply to customer enquiries within 24 hours. Our customer service manager responds throughout the day and on weekends.</span></p>
<h2>Returns</h2>
<p><span>Gamerholic accepts returns provided they are requested within 14 business days, the item has not been opened and the product is in original condition, </span></p>
<p><span>Returns generally take 2-7 business days to process. Once a customer’s request is received, the refund will be processed via the original payment method. </span></p>
<h2>Accounts</h2>
<p>Customers are welcome to register an account at Gamerholic for quicker checkout, review order history, and save favourite items. Please note that Gamerholic may restrict access or delete an account for reasons including but not limited to: spamming, copyright infringement, malicious activities, misuse of the account that may cause damage to Gamerholic. </p>
<h2>Shipping</h2>
<p><span>Orders are dispatched within 1-2 business day once payment is cleared, unless it is a preorder.  </span></p>
<p>Gamerholic uses <em>Fastway </em>and<em> Sendle</em> for couriers and <em>Australia Post</em> for all other orders. Delivery times can vary from 2 to 7 business days. We ask our customers to allow approximately 5 business days from the purchase date for their package to arrive.</p>
<h2>Navigation &amp; Range </h2>
<p>We strive to provide a wide range of products to our customers and we keep expanding our product catalogue. In Gamerholic, you can easily find the product you want via browsing or searching. Please provide any feedback to our website via Email. </p>
<p>More information can be found in the footer at https://gamerholic.com.au </p>
<h2>Rewards </h2>
<p>Gamerholic provides a rewards program to encourage customer engagement and provide benefit for return customers. Please note that Gamerholic may alter or terminate the rewards program at any time without further notice. </p>
</div>
</div>
