<div class="container" id="about">
<div class="xxl-gap" style="max-width: 800px; margin: auto;">
<h1 class="heading xl-gap">Return, Refund &amp; Cancellation Policy</h1>
<p><strong>Return Policy </strong></p>
<p><span>Gamerholic accepts returns provided they are requested within 14 business days after being delivered, the item has not been opened and the product is in original condition. </span></p>
<p><span>Returns generally take 2-7 business days to process. Once a customer’s request is received and approved, the refund will be processed via the original payment method.</span></p>
<p><strong>Refund Terms</strong></p>
<p>Gamerholic offers the option to refund provided you meet our return conditions and the statutory rights guidelines as set by the Australian Competition &amp; Consumer Commission (ACCC).</p>
<p>If you have met all requirements and conditions we will process your refund and notify you once this has been processed. <strong>PayPal</strong><span> </span><strong></strong>now offers<strong><span> </span>refunds on return shipping fees</strong>, see below for more details. </p>
<p><strong>PayPal Refunded Returns</strong></p>
<ul>
<li>
<p>PayPal now offers refunds on return shipping fees of up to $45 per return and 8 returns per year. </p>
</li>
<li>
<p>You must have this activated on your PayPal account prior to purchase.</p>
</li>
<li>
<p>For more info please see <a href="https://www.paypal.com/au/webapps/mpp/returns">https://www.paypal.com/au/webapps/mpp/returns</a></p>
</li>
</ul>
<p><strong>Refund Payment</strong></p>
<p>Any refunds will be processed via the original form of payment:</p>
<ul>
<li>
<p>PayPal: Your refund will be credited into the same account your payment came from.</p>
</li>
<li>
<p>Credit Card: Your refund will be credited into a bank account designated by you. Please note funds make take a few business days to clear after refund confirmation.</p>
</li>
</ul>
<p><strong>Refund Process Time.</strong></p>
<p>Returns generally take 2-5 business days to reach us. Once received, your return request will be processed within 1-3 business days. For refunds, please note that your financial institution may need an extra 3-5 business days to clear the funds back into your account.</p>
<p><strong>If your item is faulty.</strong></p>
<p>We aim to provide our customers with products of the highest standard and quality. If you have received an item with a defect, please contact us within 7 days. We will guide you through the returns process and help resolve the problem as quickly as possible. We also request that you take a photo showing the defect/fault to speed up the process and ensure you receive the correct replacement part.</p>
<p><strong>General Refund</strong></p>
<p>Gamerholic reserves the right to cancel or refund any orders when: </p>
<ul>
<li>
<p>Orders are deemed fraudulent. </p>
</li>
<li>
<p>One or more products are out of stock. </p>
</li>
</ul>
<p><strong>Cancellation Policy</strong></p>
</div>
</div>
<p><em>a. Can I cancel my order after placing it? </em></p>
<p>Unfortunately, once the order has been submitted we are unable to cancel your product however Gamerholic will be able to provide a store credit if you decide to cancel your product. </p>
<p><em>b. Why has one of my items been cancelled? </em></p>
<p>We may limit quantities available for sale or sold, and we reserve the right at any time to reject, correct, cancel or terminate any order for any reason. If the price of any product you order was incorrectly displayed on Gamerholic, we will provide you with an opportunity to place an order at the correct price assuming such product is available.</p>
<p>Your order will be deemed to be accepted only if and when we send an email shipping notice to your email address. That shipping and payment notice email constitutes our acceptance of your order and forms a legally binding contract with Gamerholic Pty Ltd., which operates gamerhoilc.com.au. The total price of your order will be charged to your credit card when our shipping and payment notice email has been sent to your email address.</p>
<p>Orders that cannot be fulfilled at the same time, i.e., preorder or backorder products, will be put on hold until all products arrive. If an order cannot be fulfilled because the product is not available for shipment, customer service will notify you and you will be given the option to change, cancel the order or wait for the missing stock to be shipped.<p>
<p><em>c. Can I buy products from a country other than Australia? </em></p>
<p>It is a requirement that all orders intended for delivery within Australia be placed from within Australia.</p>
<p>If an order is placed outside of Australia or is placed using a credit card with a billing address outside of Australia then it is considered an overseas transaction.</p>
<p>We retain the right to either approve or deny any overseas transaction at our discretion. Customers willing to place an international order via overseas transaction is encouraged to contact Gamerholic via Facebook or Email.</p>
</div>
</div>
