<div id="about" class="container">
    <div style="max-width: 800px; margin: auto;" class="xxl-gap" data-mce-style="max-width: 800px; margin: auto;">
        <h1 data-mce-fragment="1" class="heading xl-gap">Shipping &amp; Preorder Policy</h1>
        <h2>Shipping</h2>
        <p>Gamerholic uses <em>Fastway </em>and<em> Courier Please</em> for couriers and <em>Australia Post</em> for all other orders. Delivery times can vary from 2 to 7 business days. We ask our customers to allow approximately 5 business days from the purchase date for their package to arrive.</p>
        <h2>AU Delivery</h2>
        <p>Gamerholic ships out orders within 3 business days from the day of purchase <strong>unless the order&nbsp;contains preorder items</strong>. The delivery times can vary from 2 to 7&nbsp;business days, but you should allow approximately 5 business days from the purchase date in most cases.<br><br>Gamerholic offers&nbsp;2 shipping methods within Australia.<span>&nbsp;</span><br><br><strong>Standard Shipping (No Rural, PO BOX and Parcel Lockers)</strong><span>&nbsp;</span><br>Gamerholic uses a combination of Fastway and Courier Please for our shipping. We charge a flat rate of $10 for all shipments via courier.<span>&nbsp;</span><br><br><strong>Standard Shipping (Rural Areas, PO BOX and Parcel Lockers)&nbsp;</strong><br>$16 Flat Fee for Parcel Lockers, PO BOX and Rural Area.<br>Gamerholic Reserves the right to charge an additional $6 if your area is deemed as a rural area. Rural areas are considered as Outer Regional Areas and Remote Areas of Australia. Payment will be requested via PayPal or Bank transfer only.</p>
        <div><b>Note: There is no free shipping option</b></div>
        <div><b></b><br></div>
        <h2>NZ Delivery</h2>
        <p>We use Australia Post Express Courier International Parcel for&nbsp;all of our deliveries.</p>
        <ul>
        <li>
        <p>Calculated by weight. Max 10kg.&nbsp;</p>
        </li>
        <li>
        <p>Delivery times: 5 to 7 business days</p>
        </li>
        <li>
        <p>End-to-end tracking with signature</p>
        </li>
        <li>
        <p>Proof of delivery</p>
        </li>
        <li>
        <p>Import charges may apply to your purchase. Find out more here:</p>
        </li>
        </ul>
        <p><a href="https://www.customs.govt.nz/personal/duty-and-gst/duty-and-allowances/" rel="nofollow" title="Duty and allowances" target="_blank" data-mce-href="https://www.customs.govt.nz/personal/duty-and-gst/duty-and-allowances/">https://www.customs.govt.nz/personal/duty-and-gst/duty-and-allowances/</a></p>
        <p><a href="https://www.customs.govt.nz/personal/duty-and-gst/whats-my-duty-estimator/" rel="nofollow" title="What's My Duty estimator" target="_blank" data-mce-href="https://www.customs.govt.nz/personal/duty-and-gst/whats-my-duty-estimator/">https://www.customs.govt.nz/personal/duty-and-gst/whats-my-duty-estimator/</a></p>
        <h4 class="faq-title">International&nbsp;Delivery</h4>
        <p class="faq-title" id="pick-up">We deliver products internationally. Please send us an email for more information before placing an order to ensure you have a smoother purchase experience for international customers.&nbsp;</p>
        <h2 class="heading xl-gap">Preorder<br></h2>
        <p>A key service we provide at Gamerholic is the ability to pre-order items before they’re available for sale on the store shelves. Please review our&nbsp;FAQ page&nbsp;before proceeding with placing a pre-order.&nbsp;</p>
        <p class="entry-summary">- If your order&nbsp;contains both in-stock&nbsp;items&nbsp;as well as pre-order items, we will<span>&nbsp;</span><strong>hold the order</strong>&nbsp;until the pre-order item's release date&nbsp;before dispatching</p>
        <p class="entry-summary">- Items will be shipped as soon as stock arrives.</p>
        <p class="entry-summary">- We recommend placing<span>&nbsp;</span><strong>separate orders unless you are happy to wait.</strong></p>
        <p>- Please note the release date&nbsp;provided is just an<span>&nbsp;</span><strong>estimate<span>&nbsp;</span></strong>provided by the supplier, it can occasionally be&nbsp;further delayed.&nbsp;<strong>If you&nbsp;preorder board games, please note that the release of board games often gets delayed.&nbsp;</strong>Gamerholic is not responsible for any delays.</p>
        <p>- If you want to cancel PREORDER products, we can provide you with store credit. Refund is not possible for PREORDER products.&nbsp;</p>
        <p>Should you be interested in purchasing a product through us that we do not currently have in stock, please contact us directly using the contact form and&nbsp;we will do our very best to source it for you.&nbsp;</p>
    </div>
</div>